	#main #comm { text-align:left;
		padding:0;
		margin:0;
		border:1px solid #ddd;		 }
	#main #comm .md { padding:5px;
			border-bottom:solid 1px #999999;
			background:#ddd;
	 }
	#main #comm h1 { font-size:20px;
		 color:#ddd;
		 background:#999999;
		padding:3px;
		padding-left:10px; }
	#main #comm .md b { color:#414141; font-weight:bold; font-size:14px;}
	#main #comm .md p { color:#414141;}
	#main #comm .md .del {  text-align:right;   padding-right:5px; font-size:10px; }
	#main #comm .md .del  a { color: #FF6600; text-decoration:none; }
	#main #comm .md .del  a:hover { text-decoration:underline; color:#666666; }

	#main #ucomm { text-align:left; }
	#main #ucomm fieldset { padding:5px; border:1px solid #999999;}
	#main #ucomm #sub { text-align:right; } 
	#main #ucomm p { color:#414141; }
	#main #ucomm .inp { border:1px solid #ddd; }
	#main #ucomm h3,h2 { color:#414141; font-size:14px; }
	#main #ucomm h1 { font-size:20px; }
	#main #ucomm .warn { padding-left:5px; color:red; }
	#main #ucomm #sub { padding-top:5px; }
	
	