#main #right .mdctrl {	padding:5px;
			text-align:left; }
#main #right .mdctrl h1 { font:tahoma;
			font-size:25px;
			color:#414141;
			text-align:center; }
#main #right .mdctrl .lctrl { float:left;
								width:315px;
								
								margin-bottom:4px;
			}
#main #right .mdctrl .warpctrl fieldset { padding:4px; border:#006699 1px solid;}
#main #right .mdctrl .warpctrl { padding:4px; }
#main #right .mdctrl .warpctrl a { color:#006699; text-decoration:none; }
#main #right .mdctrl .warpctrl a:hover { color:#0099FF; text-decoration:underline; }
#main #right .warpctrl h3 { font-size:15px; 
							font:Verdana, Tahoma;
							color:#006699;}
#main #right .mdctrl .rctrl { float:right;
								width:315px;
								margin-bottom:4px;
			}
/*---------------------control pannel div bao table-------------------------------------*/
#main #right .mdr #ctrlreply { color:red; text-align:center; }
#main #right .mdr #ctrlpanel { text-align:center; }		
/*-----------------dinh dang table----------------------------*/			
					
#main #right .mdr #ctrlpanel table { text-align:center; 
								font-size:12px;
								margin:0 auto;
								color:#275277;
									}
#main #right .mdr #ctrlpanel table td { padding:5px; line-height:20px; height:20px; }
#main #right .mdr #ctrlpanel table .tbhead { background-color:#498fb7; 
											font-size:14px; 
											font-weight:bold;
											color:#e8f7ff; }
#main #right .mdr #ctrlpanel table .clr1 { background-color:#e8f7ff; }
#main #right .mdr #ctrlpanel table .clr2 { background-color:#d1eefe;}
#main #right .mdr #ctrlpanel table .clr3 { background-color:#ddd;}
/*------------------------------table 2---------------------------------------------*/
#main #right .mdr #ctrlnews table { text-align:center; 
								font-size:12px;
								margin:0 auto;
								color:#275277;
									}
#main #right .mdr #ctrlnews table td { padding:5px; line-height:20px; height:20px; }
#main #right .mdr #ctrlnews table .tbhead { background-color:#498fb7; 
											font-size:14px; 
											font-weight:bold;
											color:#e8f7ff; }
#main #right .mdr #ctrlnews table .clr1 { background-color:#e8f7ff; }
#main #right .mdr #ctrlnews table .clr2 { background-color:#d1eefe;}
/*---------------------------------dinh dang form soan tin--------------------------------------------*/
#main #right .mdr #ctrlpanel #addnewsf h3 { font-size:18px; 
							font:Verdana, Tahoma;
							color:#006699; }
#main #right .mdr #ctrlpanel #addnewsf textarea#cttxt { width:630px; 
														margin-left:10px;}							
#main #right .mdr #ctrlpanel #addnewsf { text-align:left;}
#main #right .mdr #ctrlpanel #addnewsf label { font-weight:bold;
												color:#275277;
												width:100px;
												display:inline-block;  }
#main #right .mdr #ctrlpanel #addnewsf p { margin:4px; }
						/*------------dinh dang form soan tin-----------*/	
#main #right .mdr #ctrlpanel .hdden { display:none; }											
#main #right .mdr #ctrlpanel .dsplay { display:inline-block;
										color:#FF0000;
										margin-left:5px;
										font-weight:bold;
										 }
#main #right .mdr #ctrlpanel  .LV_valid { color:#666666; }
#main #right .mdr #ctrlpanel  .LV_invalid { color:#FF0000; }
/*-------------------------------------div preview trang tin----------------------------------------*/
#main #right .mdr #prew { position:absolute; 
							top:200px; 
							left:inherit;
							background:#fff;
							width:640px;
							display:none;
							}
/*---------------------------------form nhap add user---------------------------------------------------*/
#main #right .mdr .LV_valid { color:#666666; }
#main #right .mdr .LV_invalid { color:#FF0000; }
#main #right .mdr #adus_reply { padding:4px; }
#main #right .mdr #adus_reply p { color:#006699; }
#main #right .mdr #adus_reply font { color:#FF0000; }