/* CSS Document */

#body_content .dinh_duong_cho_tre
{
	float:left;
}
 
#body_content .dinh_duong_cho_tre .ddct_tieu_de{
	float:left;
	height:60px;
	width:600px;
}
#body_content .dinh_duong_cho_tre .ddct_tieu_de .ddct_td_img{
	height:60px;
	width:60px;
	float:left;
}
#body_content .dinh_duong_cho_tre .ddct_tieu_de .ddct_td_text1{
	width:400px;
	float:right;
	height:53px;
}
#body_content .dinh_duong_cho_tre .ddct_tieu_de .ddct_td_text{
	font-size:20px;
	font-weight:bold;
	text-align:left;
	float:left;
	width:232px;
	padding-top:20px;
	}/* CSS Document */

#body_content .dinh_duong_cho_tre .tb_noi_dung{
	margin-top:20px;
	float:left;
	text-align:justify;
    color: #eaeae8;    
}
#body_content .dinh_duong_cho_tre .lich_an_uong{
	height:100%;
	float:left;
	margin-bottom:20px;
}
#body_content .dinh_duong_cho_tre  .lich_an_uong .lau_tieu_de
{
	float:left;
	height:60px;
    width: 100%;
}
#body_content .dinh_duong_cho_tre  .lich_an_uong .content
{
    float:left;
    width: 100%;
    color: #eaeae8;
   
}
#body_content .dinh_duong_cho_tre  .lich_an_uong .content table
{
    color: #eaeae8;
}
#body_content .dinh_duong_cho_tre  .lich_an_uong .content table tr
{
    color: #eaeae8;
}
#body_content .dinh_duong_cho_tre  .lich_an_uong .content table tr td
{
    color: #eaeae8;
}
#body_content .dinh_duong_cho_tre  .lich_an_uong .content table tr td p
{
    color: #eaeae8;
}
#body_content .dinh_duong_cho_tre  .lich_an_uong .content table tr td p span
{
    color: #eaeae8;
}

#body_content .dinh_duong_cho_tre .lich_an_uong .lau_tieu_de .lau_td_icon{
	height:30px;
	width:30px;
	float:left;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .lau_tieu_de .lau_td_text{
	font-size:16px;
	font-weight:bold;
	text-align::left;
	float:left;
	padding-top:20px;
	margin-left:10px;
    color: #eaeae8;
	}
#body_content .dinh_duong_cho_tre .lich_an_uong .lau_tieu_de .lau_td_text a{
	font-size:16px;
	font-weight:bold;
	text-align:left;
    color: #eaeae8 !important;
	}    /* CSS Document */
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong{
	float:left;
	width:600px;
	border-style:solid;
	border-color:#FFFFFF;
	border-width:thin;
	border-bottom:0px;
	background:url(../../images/icon/br.png);
	
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_thu{
	float:left;
	height:32px;
	width:80px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:thin;
	border-bottom-style:solid;
	background:url(../../images/icon/br.png);
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_thu .thu_text{
	float:right;
	width:55px;
	text-align:left;
	font-weight:bold;
	margin-top:6px;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_an{
	float:right;
	height:32px;
	width:520px;
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:thin;
	background:url(../../images/icon/br.png);
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_an .ddct_a_an{
	height:32px;
	border-left-color:#FFFFFF;
	border-left-width:thin;
	border-left-style:solid;
	float:left;
	width:128px;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_an .ddct_a_an .ddct_a_a_text{
	margin-top:6px;
	height:25px;
	width:94px;
	text-align:left;
	float:right;
	font-weight:bold;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_tr{
	float:left;
	width:600px;
	height:100%;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_tr .ddct_thu1{
	float:left;
	height:90px;
	width:80px;
	border-bottom-color:#FFFFFF;
	border-bottom-width:thin;
	border-bottom-style:solid;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_tr .ddct_thu1 .thu_text1{
	float:right;
	width:100%;
	text-align:center;
	margin-top:20px;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_tr .ddct_an1{
	float:right;
	height:90px;
	width:520px;
	border-bottom-color:#FFFFFF;
	border-bottom-style:solid;
	border-bottom-width:thin;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_tr .ddct_an1 .ddct_a_an1{
	height:90px;
	border-left-color:#FFFFFF;
	border-left-width:thin;
	border-left-style:solid;
	float:left;
	width:128px;
}
#body_content .dinh_duong_cho_tre .lich_an_uong .ddct_lau_menu_dinh_duong .ddct_tr .ddct_an1 .ddct_a_an1 .ddct_a_a_text1{
	margin-top:10px;
	height:25px;
	width:90%;
	text-align:left;
	float:right;
}
#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac{
	float:left;
	height:100%;
	padding-bottom:80px;
}

#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac .cdddk_tieu_de{
	height:47px;
	width:500px;
	float:left;
}
#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac .cdddk_tieu_de .cdddk_td_icon{
	float:left;
	height:100%;
	width:40px;
	background:url(../../images/icon/dinh-duong-cho-tre/icon2.png);
}
#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac .cdddk_tieu_de .cdddk_td_text{
	height:100%;
	float:right;
	margin-right:150px;
	margin-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	width:310px;
    color: #eaeae8;
}
#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac .cdddk_noi_dung{
	width:600px;
	height:30px;
	float:left;
}
#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac .cdddk_noi_dung .cdddk_nd_icon{
	height:30px;
	width:20px;
	float:left;
	background:url(../../images/icon/icon_nho.png);
	background-repeat:no-repeat;
	margin-top:5px;
}
#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac .cdddk_noi_dung .cdddk_nd_text{
	height:20px;
	width:96%;
	text-align:left;
	font-size:14px;
	float:right;
	margin-top:13px;
   
}
#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac .cdddk_noi_dung .cdddk_nd_text a{
     color: #eaeae8;
}
.icon_item{
	height:30px;
	width:20px;
	float:left;
	background:url(../../images/icon/icon_nho.png);
	background-repeat:no-repeat;
	margin-right: 5px;
}