/* CSS Document */

#body_content .dinh_duong_cho_tre .cac_che_do_an_uong_khac{
	float:left;
	height:100%;
	height:200px;
}

/* CSS Document */

* {
	margin:0;
	font-family:Arial;
}
body{
	background-color:#2394bc;
	}
img {
border:0px;
}
a{
	text-decoration:none;
	color:#000;
}
#wrapper {
	margin:auto;
	width:1004px;
	min-height:100%;
	height:auto !important;
	height:100%;
	background:url(../../images/background/re-peat-wrapper.png);
	background-repeat:repeat;
}

.wrapper1{
    width: 1004px;
    background:url(../../images/background/background_footer.png);
    background-repeat: no-repeat;
    background-position: bottom;
}


#header #hd_top_br
{
	height:177px;
	background-repeat:no-repeat;
	width:1003px;
	float:left;
    background-color: #000000;
}

#header #hd_menu1{
	height:137px;
	width:810px;
	float:right;
    margin-top:-140px;
}
 #header #hd_menu1 #hd_menu{
	height:137px;
	width:810px;
	float:left;
}
 #header #hd_menu .hd_space_top{
	height:66px;
    #width:780px;
	float:right;

}
#header  #hd_menu .hd_space_top .sp_t_space{
	float:left;
	width:100px;
	height:100%;
}
 #header #hd_menu .hd_space_top .sp_t_hover1{
	height:60px;
	width:92px;
	display:block;
	float:left;
}
#header #hd_menu .hd_space_top .sp_t_hover1 #sp_t_trang_chu{
	height:61px;
	width:102px;
	background:url(../../images/icon/icon_trang_chu.png);
	display:block;
	background-repeat:no-repeat;
	float:left;
}
.mn_text{
	height:20px;
	width:90px;
	margin-top:15px;
	text-align:center;
	color:red;
	}
#header #hd_menu .hd_space_top .sp_t_hover{
	height:60px;
	width:92px;
	display:block;
	float:left;
}
 #header #hd_menu .hd_space_top .sp_t_hover  #sp_t_moi_ngay_lam_gi{
	height:66px;
	width:107px;
	background:url(../../images/icon/icon_moi_ngaylg.png);
	display:block;
	background-repeat:no-repeat;
	float:left;
}
#header #hd_menu .hd_space_top .sp_t_hover #sp_t_lop_hoc{
	height:61px;
	width:102px;
	background:url(../../images/icon/icon_lop_hoc.png);
	display:block;
	background-repeat:no-repeat;
	float:left;
}
#header #hd_menu .hd_space_top .sp_t_hover #sp_t_dinh_duong_cho_be{
	height:61px;
	width:102px;
	background:url(../../images/icon/icon_dd_cho_tre.png);
	display:block;
	background-repeat:no-repeat;
	float:left;
}
#header #hd_menu .hd_space_top .sp_t_hover #sp_t_nhap_hoc{
	height:61px;
	width:102px;
	background:url(../../images/icon/icon_nhap_hoc.png);
	display:block;
	background-repeat:no-repeat;
	float:left;
}
#header #hd_menu .hd_space_top .sp_t_hover #sp_t_thu_vien_anh{
	height:61px;
	width:102px;
	background:url(../../images/icon/icon-thu-vien.png);
	display:block;
	background-repeat:no-repeat;
	float:left;
}
#header #hd_menu .hd_space_top .sp_t_hover #sp_t_video_online{
	height:66px;
	width:105px;
	background:url(../../images/video_online/buuton-chon.png);
	background-repeat:no-repeat;
	display:block;
	float:left;
}

#header #hd_menu .hd_space_top .sp_t_hover #sp_t_lien_he{
	height:66px;
	width:106px;
	background:url(../../images/icon/icon_lien_he.png);
	display:block;
	background-repeat:no-repeat;
	float:left;
}
#header #hd_menu .hd_nav1{
	height:76px;
	width:10%;
	float:left;
}
#header #hd_menu .hd_nav{
	height:76px;
	float:right;
}
#header #hd_menu .hd_nav ul{
	list-style-type:none;

	font-size:14px;
	float:left;
	height:76px;
	width:100%;
}
#header #hd_menu .hd_nav ul li{
	display:block;
	float:left;
	margin:0;
	padding:0;
	height:87px;
	width:90px;
	text-align:center;
	}

#body_main 
{
	width:1004px;
	background:url(../../images/background/background_content.jpg);
	background-repeat:no-repeat;
	height:100%;
	position:relative;
}
#body_left 
{
	float:left;
	width:277px;
	height:100%;
}

#body_left .nen_duoi_left_anh_cua_be
{
	width:280px;
	float:left;
	background:url(../../images/icon/khung_anh.png);
	background-repeat:no-repeat;
}
#body_left .nen_duoi_left_anh_cua_be .khung_anh_left
{
	width:90px;
	height:91px;
	float:left;
	margin-top:-72px;
	margin-left:6px;
	position:relative;
}
#body_left .nen_duoi_left_anh_cua_be .khung_anh_left .khung_anh_left1
{
	height:91px;
	width:90px;
	float:left;
	background:url(../../images/icon/khung_anh_left_11.png);
	background-repeat:no-repeat;
	position:absolute;
}
#body_left .nen_duoi_left_anh_cua_be .l_acb_tieu_de{
	height:44px;
	width:162px;
	margin-top:20px;
    margin-left:20px;
	float:left;
}

#body_left  .nen_duoi_left_anh_cua_be .l_acb_noi_dung1
{
    text-align: center;
	width:280px;
    float: left;
    margin-top: 20px;
}

#body_left  .nen_duoi_left_anh_cua_be .l_acb_noi_dung1 .l_acb_nd_button_len
{
	width:100%;
    text-align: center;
	float:left;
	margin-left:2px;
    height: 36px;
}
#body_left  .nen_duoi_left_anh_cua_be .l_acb_noi_dung1 .l_acb_nd_button_len img
{
    cursor: pointer;
}
#body_left .nen_duoi_left_anh_cua_be .l_acb_noi_dung .l_abc_nd_picture .l_abc_nd_picture_left
{
	float:left;
	height:90px;
	width:35%;
}
#body_left .nen_duoi_left_anh_cua_be .l_acb_noi_dung1 .l_acb_nd_picture{
	width:230px;  /*191*/
	text-align: center;
	float:right;
    margin-left: 50px;
    
   
}
#body_left .nen_duoi_left_anh_cua_be .l_acb_noi_dung1 .l_acb_nd_picture .l_acb_nd_p_pic
{
	width:85px;  /*191*/
	height:85px; /*184px*/
	float:left;
   margin:4px 3px 3px 4px;
   background-color:#C7c7c7;
}

#body_left  .nen_duoi_left_anh_cua_be .l_acb_noi_dung1  .l_acb_button_xuong
{
	width:100%;
	float:left;
	text-align:center;
    height: 37px;
    z-index: 0;
}
#body_left  .nen_duoi_left_anh_cua_be .l_acb_noi_dung1  .l_acb_button_xuong img
{
    cursor: pointer;
}
#body_left .nen_duoi_left_anh_cua_be .l_acb_noi_dung1 .l_acb_noi_dung .l_acb_button_xuong .bt_xuong{
	width:100%;
	height:39px;
	float:left;
	text-align:center;
	position:absolute;
	z-index:1;
}


#body_left .sinh_nhat_be
{
	float:left;
	width:264px;
	height:100%;
	margin-left:8px;
    position: relative;
   
} 
#body_left .sinh_nhat_be .bg
{
    background: url('../../images/trang_chu/khung_anh_sn.png');
    width: 286px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
  
}
#body_left .sinh_nhat_be .sn_header{
	float:left;
	width:100%;
	height:100px;
	position:relative;
	z-index:1;
}
#body_left .sinh_nhat_be .sn_header .sn_hd_tieu_de
{
	background:url(../../images/icon/sinh-nhat-be.png);
	margin-left:10px;
	margin-top:10px;
	width:179px;
	height:37px; 
	position:absolute;
}
#body_left .sinh_nhat_be .sn_header1
{
	float:left;
	width:100%;
	height:100px;
	background:url(../../images/trang_chu/khung-anh-2a.png);
    margin-left: 1px;
	background-repeat:no-repeat;
	position:absolute;
	overflow:auto;

}
#body_left .sinh_nhat_be .sn_header1 .title
{
    float:left;
    padding-left: 30px;
    padding-top: 70px;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
}

#body_left .sinh_nhat_be .sn_picture
{
	background:url(../../images/trang_chu/khung-anh-2b.png);
	float:left;
	width:264px;
    height:420px;
     margin-left: 1px !important;
	margin-top:-40px;
    
}
#body_left .sinh_nhat_be .sn_picture .sn_hinh_cua_be
{
	margin-left:26px;
	text-align:center;
    margin-top: 40px;   
}
#body_left .sinh_nhat_be .sn_picture .sn_hinh_cua_be .sn_day_la_hinh_anh
{

	width:200px;
	margin-bottom:5px;
	text-align:center;
	margin-left:1px;
    color: #ffffff;
   
}
#body_left .sinh_nhat_be .sn_picture .sn_hinh_cua_be .sn_day_la_hinh_anh a
{
    color: #ffffff;
    text-decoration: none;  
}
#body_left .sinh_nhat_be  .sn_footer{
	float:left;
	width:100%;
	height:127px;
	position:relative;    
    margin-left: 1px;
	background:url(../../images/trang_chu/khung-anh-1.png);
	background-repeat:no-repeat;
    
}
#body_left .sinh_nhat_be  .sn_footer1
{
	float:left;
	width:100%;
	height:127px;
	margin-left:-8px;
	position:relative;
    
}

#body_content
{
	float:left;
	width:650px ;
	margin-left:40px;
	margin-top:15px;
}
#body_content .ct_thong_bao
{
 	width:100%;
	height:100%;
	float:left;
	margin-bottom:60px;
}
#body_content .ct_thong_bao .tb_tieu_de{
	width:86%;
	float:left;
}
#body_content .ct_thong_bao .tb_tieu_de .tb_td_img{
	height:60px;
	width:60px;
	float:left;
}
#body_content .ct_thong_bao .tb_tieu_de .tb_td_text{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	float:right;
	width:86%;
	margin-left: 3px;
	padding-top:20px;
	margin-right:5px;
    
	}



 .ft_menu2{
	width:160px;
	height:222px;
	float:left;
	position:absolute;
    margin-bottom:18px;
	bottom:0px;
	right:30px;
	clear:both;
   
}
.ft_menu2 .ft_menu{
	
	background:url(../../images/icon/len-dau-trang.png);
	background-repeat:no-repeat;
    background-position: bottom;
	float:right;
	height:222px;
	width:162px;
    
}

.ft_menu .ft_len_dau_trang
{
	width:115px;
	height:70px;
	float:left;
}
.ft_menu .ft_len_dau_trang .ft_len_dau_trang1
{
	height:70px;
	width:70px;
	font-size:12px;
	font-style:italic;
	float:right;
	cursor:pointer;
	text-align:center;
	background:url(../../images/icon/len-dau-trang_1.png);

 }
.ft_menu .ft_trang_chu1
{
	height:39px;
	width:90px;
	float:left;
}
.ft_menu .ft_trang_chu{
	background:url(../../images/icon/ft_trang_chu.png);
	background-repeat:no-repeat;
	height:39px;
	width:79px;
	margin-left:10px;
	margin-top:26px;
	float:right;
	cursor:pointer;
}
.vide1{
	clear:both;
}
#footer {
	height:86px;
	width:1004px;
	background:url(../../images/background/nencopyright.jpg);
	float:left;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
	}
#footer a
{
    text-decoration: none;
    color: #FFFFFF;
     font-size: 14px;
}


/*doi tac*/
.jcarousel-skin-tango .jcarousel-container {
    /*
    -moz-border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;*/

}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 600px;
    height: 75px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/client/png/right.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../../images/client/png/left.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active 
{
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/client/png/left.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../../images/client/png/right.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
    
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/client/hinhtruoc.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../../images/client/hinhsau.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}


