/* CSS Document */
#body_content .lop_hoc{
	height:100%;
	width:600px;
	float:left;
   
}
#body_content .lop_hoc .lh_tieu_de_gv{
	float:left;
    width: 100%;
}
#body_content .lop_hoc .lh_tieu_de_gv .lh_td_icon_gv{
	background:url(../../images/thienthannho/icon1.png);
	background-repeat:no-repeat;
	height:68px;
	width:58px;
	float:left;
}

#body_content .lop_hoc .lh_tieu_de_gv .lh_td_text1_gv{
	float:left;
    height:43px;
}
#body_content .lop_hoc .lh_tieu_de_gv .lh_td_text1_gv .lh_td_text_gv
{
    float:left;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 25px;
    text-align: left;
   height:43px;
}
#body_content .lop_hoc .lh_td_ha_gv
{
    float: left;
    margin-left: 150px;
   	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
 
    
}
#body_content .lop_hoc .lh_td_ha_gv .lh_td_ha_1
{
    float: left;
    width: 160px;   
    margin-top: 5px;
    
}

#body_content .lop_hoc .lh_td_ha_gv .lh_td_ha_1 .lh_td_ha_1_img
{
    float: left;
   width: 160px;
   margin-left: 5px;
}
#body_content .lop_hoc .lh_td_ha_gv .lh_td_ha_1 .lh_td_ha_1_text
{
    float: left;
     width: 160px;
     text-align: center;
     color: #eaeae8;
     font-size: 14px;
}
#body_content .lop_hoc .lh_tieu_de{
	height:68px;
	width:100%;
	float:left;
}
#body_content .lop_hoc .lh_tieu_de .lh_td_icon{
	background:url(../../images/thienthannho/icon1.png);
	background-repeat:no-repeat;
	height:68px;
	width:58px;
	float:left;
}
#body_content .lop_hoc .lh_tieu_de .lh_td_text1{
	float:right;
	height:43px;
	width:540px;
	margin-top:20px;
}
#body_content .lop_hoc .lh_tieu_de .lh_td_text1 .lh_td_text
{
	height:43px;
	width:263px;
	float:left;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}
#body_content .lop_hoc .hinh_lop_hoc{
	width:100%;
	float:left;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	
}
#body_content .lop_hoc .hinh_lop_hoc .tva_nd_nd_data{
	height:145px;
	width:140px;
	float:left;
	margin:5px 3px 5px 6px;
    #margin:4px;
    #height:140px;
   	
}
#body_content .lop_hoc .hinh_lop_hoc .tva_nd_nd_data .tva_nd_nd_dt_picture{
	float:left;
	height:119px;
	width:140px;
}

#body_content .lop_hoc .hinh_lop_hoc .tva_nd_nd_data .tva_nd_nd_dt_text{
	float:left;
	height:20px;
	width:140px;
	font-size:13px;
}
#body_content .lop_hoc .hinh_lop_hoc .tva_nd_nd_data .tva_nd_nd_dt_picture1{
	float:left;
	height:119px;
	width:140px;
}

#body_content .lop_hoc .hinh_lop_hoc .tva_nd_nd_data .tva_nd_nd_dt_text1{
	float:left;
	height:20px;
	width:140px;
	text-align:center;
	font-size:13px;
	margin-bottom:5px;
	margin-top:5px;
    
    
}
#body_content .lop_hoc .hinh_lop_hoc .tva_nd_nd_data .tva_nd_nd_dt_text1 a
{
    color: #eaeae8;
}
#body_content .lop_hoc .lh_table{
	height:100%;
	width:100%;
	float:left;
	border-top-style:solid;
	border-top-width:thin;
	
    color: #eaeae8;

}
#body_content .lop_hoc .lh_table .lh_tb_tr{
	height:100%;
	width:100%;
	float:left;
	border-left-style:solid;
	border-left-width:thin;

	border-right-style:solid;
	border-right-width:thin;

	border-bottom-style:solid;
	border-bottom-width:thin;

    color: #eaeae8;
}
#body_content .lop_hoc  .lh_table .lh_tb_tr .lh_td_tieu_de_stt{
	width:40px;
	float:left;
	padding-left:5px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	height:100%;
	text-align:center;
    color: #eaeae8;
	
}
#body_content .lop_hoc  .lh_table .lh_tb_tr .lh_td_ten{
	width:553px;
	float:right;
	border-left-style:solid;
	border-left-width:thin;
	border-left-width:1px;
   
    
}
#body_content .lop_hoc  .lh_table .lh_tb_tr .lh_td_ten .lh_td_t_ten_lop{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	float:left;
	width:150px;
	height:100%;

}
#body_content .lop_hoc  .lh_table .lh_tb_tr .lh_td_ten .lh_td_t_ten_lop a
{
    color: #eaeae8;
}
#body_content .lop_hoc  .lh_table .lh_tb_tr .lh_td_ten .lh_td_t_ten_gvcn
{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	float:left;
	width:250px;
	height:100%;
    border-right-style:solid;
	border-right-width:thin;
	border-right-width:1px;
	border-left-style:solid;
	border-left-width:thin;
	border-left-width:1px;
    
}

#body_content .lop_hoc  .lh_table .lh_tb_tr .lh_td_ten .lh_td_t_ten_giao_vien_chu_nhiem{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	float:right;
	width:130px;
	height:100%;
	color: #eaeae8;
}
#body_content .lop_hoc  .lh_table .lh_tb_tr .lh_td_ten .lh_td_t_ten_giao_vien_chu_nhiem span
{ 
	color: #eaeae8;
    cursor: pointer;
}
#body_content .lop_hoc  .lh_table .lh_tb_tr .lh_td_ten .lh_td_t_ten_giao_vien_chu_nhiem a
{ 
	color: #eaeae8;
    cursor: pointer;
}
#body_content .danh_sach_lop_hoc{
	width:100%;
	float:left;
	margin-bottom:150px;
	z-index:2;
}
#body_content .danh_sach_lop_hoc .ds_tieu_de{
	height:68px;
	width:100%;
	float:left;
}
#body_content .danh_sach_lop_hoc .ds_tieu_de .ds_td_icon{
	background:url(../../images/icon/icon_danh_sach.png);
	background-repeat:no-repeat;
	height:71px;
	width:63px;
	float:left;
}
#body_content .danh_sach_lop_hoc .ds_tieu_de .ds_td_text1{
	float:right;
	height:43px;
	width:530px;
	margin-top:20px;
}
#body_content .danh_sach_lop_hoc .ds_tieu_de .ds_td_text1 .ds_td_text{
	background:url(../../images/thienthannho/lophocthienthannho.png);
	background-repeat:no-repeat;
	height:43px;
	width:263px;
	float:left;
}
#body_content .danh_sach_lop_hoc .ds_noi_dung{
	height:100%;
	width:400px;
	float:left;
}
#body_content .danh_sach_lop_hoc .ds_noi_dung .ds_link_danh_sach{
	float:left;
	width:200px;
}
#body_content .danh_sach_lop_hoc .ds_noi_dung .ds_link_danh_sach .ds_link_icon
{
	background:url(../../images/icon/icon_nho.png);
	width:22px;
	height:24px;
	margin-left:5px;
	float:left;
}
#body_content .danh_sach_lop_hoc .ds_noi_dung .ds_link_danh_sach .ds_link_link{
	width:140px;
	height:25px;
	float:right;
	margin-top:5px;
}
#body_content .danh_sach_lop_hoc .ds_noi_dung .ds_link_danh_sach .ds_link_link a
{
    color: #eaeae8;
}