/* CSS Document */
#body_content .mnlg_mot_ngay_cua_be{
	height:100%;
	float:left;
	width:600px;
    color: #eaeae8;
    
}
#body_content  .mnlg_mot_ngay_cua_be .mglg_mgcb_tieu_de{
	height:56px;
	width:100%;	
}
#body_content  .mnlg_mot_ngay_cua_be .mglg_mgcb_tieu_de .mglg_td_icon{
	float:left;
	height:56px;
	width:61px;
	background-repeat:no-repeat;
}
#body_content .mnlg_mot_ngay_cua_be .mglg_mgcb_tieu_de .mglg_td_text{
	float:left;
	height:41px;
	width:166px;
	margin-right:100px;
	margin-top:15px;
	background-repeat:no-repeat;
	background:url(../../images/moi_ngay_lam_gi/1ngaycuabe.png);
    color: #eaeae8;
}
#body_content .mnlg_mot_ngay_cua_be .mglg_table{
	height:100%;
	width:100%;
	margin-top:10px;
	float:left;
	border-color:#FFFFFF;
	border-style:solid;
	border-width:thin;
    color: #ffffff;
}
#body_content .mnlg_mot_ngay_cua_be .mglg_table .tieu_de_thoi_gian{
	float:left;
	height:25px;
	width:138px;
	padding-left:10px;
	font-weight:bold;
	padding-top:5px;
	border-right:1px;
	border-right-color:#FFFFFF;
	border-right-width:thin;
	border-right-style:solid;
	background:url(../../images/icon/br1.png);
}
#body_content .mnlg_mot_ngay_cua_be .mglg_table .mnlg_tieu_de_noi_dung
{
	float:left;
	text-align:left;
	height:25px;
	width:450px;
	text-indent:5px;
	font-weight:bold;
	padding-top:5px;
	background:url(../../images/icon/br1.png);
}
#body_content  .mnlg_mot_ngay_cua_be .mglg_table .mnlg_tr{
	float:left;
	height:30px;
	width:100%;
   
}
#body_content .mnlg_mot_ngay_cua_be .mglg_table .mnlg_tr .mnlg_td_left{
	float:left;
	height:25px;
	width:138px;
	text-indent:5px;
	padding-top:5px;
	padding-left:10px;
	border-right:1px;
	border-top:1px;
	border-top-color:#FFFFFF;
	border-top-width:thin;
	border-top-style:solid;
	border-right-color:#FFFFFF;
	border-right-width:thin;
	border-right-style:solid;
    
}
#body_content  .mnlg_mot_ngay_cua_be .mglg_table .mnlg_tr .mnlg_td_right{
	float:left;
	height:25px;
	width:450px;
	text-indent:10px;
	padding-top:5px;
	border-top:1px;
	border-top-color:#FFFFFF;
	border-top-width:thin;
	border-top-style:solid;
}


#body_content .hoat_dong_ngoai_khoa{
	height:100%;
	margin-top:20px;
	width:600px;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_tieu_de{
	height:69px;
	margin-bottom:-10px;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_tieu_de .hdnk_td_icon
{
	background:url(../../images/icon/moi-ngay-lam-gi/icon2.png);
	background-repeat:no-repeat;
	float:left;
	height:69px;
	width:57px;
	margin-top:5px;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_tieu_de .hdnk_td_text{
	height:50px;
	width:400px;
	float:left;
	margin-top:20px;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_tieu_de .hdnk_td_text .hdnk_td_t_image{
	height:50px;
	width:263px;
	float:left;
	
}

#body_content .hoat_dong_ngoai_khoa .hdnk_hinh_anh
{
	height:230px;
	width:580px;
	float:left;
	margin-top:10px;
	border:1px;
	border-style:solid;
	border-color:#FFFFFF;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_hinh_anh .hdnk_ha_left_picture{
	height:230px;
	width:290px;
	float:left;
    text-align: center;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_hinh_anh .hdnk_ha_left_picture .hdnk_picture{
    height:200px;
	width:290px;
	float:left;
    text-align: center;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_hinh_anh .hdnk_ha_left_picture .hdnk_ha_text_chu_thich{
	width:280px;
	height:20px;
	text-align:center;
	margin-top:5px;
	float:left;
   color: #eaeae8;
}

#body_content .hoat_dong_ngoai_khoa .hdnk_hinh_anh .hdnk_ha_right_picture{
	height:180px;
	width:280px;
	margin:5px 5px 5px 0px;
	float:right;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_hinh_anh .hdnk_ha_right_picture .hdnk_picture{
	height:200px;
	float:left;
	margin:5px 0px 5px 0px;
	text-align:right;
	width:280px;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_hinh_anh .hdnk_ha_right_picture .hdnk_ha_text_chu_thich{
	width:280px;
	height:20px;
	text-align:center;
	margin-top:5px;
	float:right;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_next_preview{
	width:98%;
	height:61px;
	float:left;

}
#body_content .hoat_dong_ngoai_khoa .hdnk_next_preview .hdnk_preview{
	width:47%;
	height:61px;
	float:left;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_next_preview .hdnk_preview .preview_picture
{
	height:61px;
	width:72px;
	float:right;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_next_preview .hdnk_preview .preview_picture .buttonChimCutTruoc
{
    background: url(../../images/moi_ngay_lam_gi/hinhtruoc.png);
    width: 73px;
    height: 61px;
    cursor: pointer;
    border: 0px;
}

#body_content .hoat_dong_ngoai_khoa .hdnk_next_preview .hdnk_next{
	width:47%;
	height:61px;
	float:right;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_next_preview .hdnk_next .next_picture{
	height:61px;
	width:72px;
	float:left;
}
#body_content .hoat_dong_ngoai_khoa .hdnk_next_preview .hdnk_next .next_picture .buttonChimCutSau
{
    background: url(../../images/moi_ngay_lam_gi/hinhsau.png);
    width: 73px;
    height: 61px;
    cursor: pointer;
    border: 0px;
}
#body_content .hoat_dong_ngoai_khoa .space{
    height: 200px;
    width: 100%;
	float:left;
}
