#body_content .nhap_hoc{
	height:100%;
	width:600px;
	float:left;
}
#body_content .nhap_hoc .tieu_de_thong_tin_tuyen_sinh{
	height:61px;
	width:600px;
	float:left;
}
#body_content .nhap_hoc .tieu_de_thong_tin_tuyen_sinh .td_ttts_icon{
	height:61px;
	width:57px;
	float:left;
	background:url(../../images/icon/icon.png);
	background-repeat:no-repeat;
	}
#body_content .nhap_hoc .tieu_de_thong_tin_tuyen_sinh .td_ttss_text{
	height:51px;
	width:375px;
	float:left;
	margin-top:15px;
	background:url(../../images/icon/thong_tin_tuyen_sinh.png);
	background-repeat:no-repeat;
}
#body_content .nhap_hoc .muc_tuyen_sinh{
	height:100%;
	width:100%;
	float:left;
	margin-bottom:20px;
}
#body_content .nhap_hoc .muc_tuyen_sinh .mts_tieu_de{
	float:left;
	margin-bottom:5px;
	height:30px;
}
#body_content .nhap_hoc .muc_tuyen_sinh .mts_tieu_de .mts_icon{
	background:url(../../images/icon/icon_nho.png);
	background-repeat:no-repeat;	
	height:24px;
	width:22px;
	float:left;
}

#body_content .nhap_hoc .muc_tuyen_sinh .mts_tieu_de .mts_text{
	 height:20px;
	 width:400px;
	 float:left;
	 margin-left:5px;
	 margin-top:4px;
	 font-weight:bold;
	 font-size:16px;
    
 }
 #body_content .nhap_hoc .muc_tuyen_sinh .mts_tieu_de .mts_text a
{
    color: #eaeae8;
}
 #body_content .nhap_hoc .muc_tuyen_sinh .mts_noi_dung{
 	height:100%;
	width:540px;
	float:left;
	margin-left:15px;
 }
 #body_content .nhap_hoc .muc_tuyen_sinh .mts_noi_dung .mts_nd_icon{
 	background:url(../../images/icon/icon_3.png);
	background-repeat:no-repeat;
	height:19px;
	width:19px;
	float:left;
 }
 #body_content .nhap_hoc .muc_tuyen_sinh .mts_noi_dung .mts_nd_noi_dung{
 	float:right;
	height:100%;
	width:510px;
	text-align:justify;
    color: #eaeae8;
 }