/* CSS Document */


.wrapper1 #body_content .thong_tin_lien_he{
	width:600px;
	height:100%;
	float:left;
}
.wrapper1 #body_content .thong_tin_lien_he .ttlh_tieu_de{
	 float:left;
	 height:60px;
	 width:217px;
	 background:url(../../images/icon/thong-tin-lien-he.png);
	 background-repeat:no-repeat;
	 margin-left:20px;
	 }
.wrapper1 #body_content .thong_tin_lien_he .ttlh_noi_dung{
 	background:url(../../images/icon/khung_thong_tin.png);
	height:263px;
	width:560px;
	float:left;
	margin-top:-40px;
 }
 .wrapper1 #body_content .thong_tin_lien_he .ttlh_noi_dung .ttlh_nd_text1{
 	width:500px;
	height:100px;
	margin:120px auto 20px;
	float:left;
  }
.wrapper1 #body_content .thong_tin_lien_he .ttlh_noi_dung .ttlh_nd_text
{
 	width:400px;
	height:100px;
	float:right;
    font-size: 13px;
    color: #eaeae8;
    font-weight: bold;
  }
.wrapper1 #body_content .ban_do{
 	
	height:287px;
	width:482px;
	margin-top:20px;
	float:left;
    background-color: #c7c7c7;
 }
.wrapper1 #body_content .form_lien_he
{
 	float:left;
	width:100%;
 }
 .wrapper1 #body_content .form_lien_he .flh_td_icon{
  	height:50px;
	width:40px;
	float:left;
	margin-bottom:10px;
  }

.wrapper1 #body_content .form_lien_he .flh_td_text{
 	float:left;
	height:41px;
	width:166px;
	background:url(../../images/icon/form-lien-he.png);
	background-repeat:no-repeat;
	margin-top:30px;
	margin-left:10px;
	margin-bottom:10px;
 }
 .wrapper1 #body_content .form_lien_he .flh_noi_dung
 {
    float:left;
    height:100%;
    width:100%;
   
 }
.wrapper1 #body_content .form_lien_he .flh_noi_dung .loading
{
    text-align: center;
    width:100%;
    color: #cc0000;
    position: absolute;
    top: 0px;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input
{
 	width:80%;
    #width:95%;
	margin:5px 0px 5px 2px;
	height:24px;
	float:left;
     color: #f32748;
 }
 .wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .thong_bao_gui
{
    text-align:center;
    float:left;
    color: #ffffff;
    
    width: 100%;
    font-weight: bold;
}
 .wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .thong_bao_gui .messages
{
    color: #ffffff;
    float: left;
    font-weight: bold;
    
 }
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_label
{
 	width: 140px;
	text-align:left;
	float:left;
    color: #eaeae8;
 }
 
 .wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_label label
 {
    float: left;
 }
 
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .error
{
    color: #f32748;
    float: left;
 }

.wrapper1  #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_input1{
  	width:266px;
	float:left;
	height:24px;
	margin-right:112px;
  }
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_input
{
 	width:266px;
	float:left;
	height:24px;
	background:url(../../images/icon/email.png);
	background-repeat:no-repeat;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_input input{
 	width:252px;
	height:15px;
	float:left;
	margin:3px auto 1px 5px;
	background-color:#C4DFE9;
	border:0px;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_input textarea
{
    overflow: auto;
    background-color: #000000;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_input_maxn
{
	width:144px;
	height:24px;
	float:left;
	background:url(../../images/icon/nhap_ma.png);
	background-repeat:no-repeat;
	border:0px;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_input_maxn input
{
 	width:110px;
	height:15px;
	float:left;
	margin:3px auto 1px 2px;
	background-color:#C4DFE9;
	border:0px;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_capcha1
{
	float:left;
	height:30px;
	padding: 4px;
    
    
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_label_input .flh_nd_capcha1 .flh_nd_capcha
{
	float:left;
	height:23px;
	width:93px;
	/*background-color:#99CC33;*/
	margin-top:3px;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_textarea
{
	width:90%;
	margin:5px 0px 5px 2px;
	float:left;
}

.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_textarea .flh_nd_label{
	width:100px;
	text-align:left;
	float:left;
    color: #eaeae8;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_textarea .flh_nd_input1{
	width:334px;
	float:right;
	height:182px;
    
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_textarea .flh_nd_input
{
	width:334px;
	float:left;
	height:182px;
	background:url(../../images/icon/khung-noi-dung.png);
	background-repeat:no-repeat;
    margin-left:40px;
    #margin-left:30px;
}
.wrapper1 #body_content .form_lien_he .flh_noi_dung .flh_nd_textarea .flh_nd_input textarea{
	width:300px;
	height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    #padding-left: 0px;
    #padding-top: 10px;
    #width:280px;
	float:left;
	margin:3px auto 1px 2px;
	background-color:#C4DFE9;
	border:0px;
    overflow: auto;
	
}
.wrapper1 #body_content .form_lien_he .flh_button{
	width:73%;
	margin:5px 0px 5px 2px;
	height:29px;
	float:left;
}
.wrapper1 #body_content .form_lien_he .flh_button .flh_bt_xoa{
	float:right;
	height:27px;
	width:39px;
	margin:2px 10px 2px auto;
}
.wrapper1 #body_content .form_lien_he .flh_button .flh_bt_xoa .reset{
	float:right;
	height:27px;
	width:39px;

    cursor: pointer;
}
.wrapper1 #body_content .form_lien_he .flh_button .flh_bt_xoa input{
	float:right;
	height:27px;
	width:39px;
	background:url(../../images/icon/xoa.png);
	background-repeat:no-repeat;
	border:0px;
}
.wrapper1 #body_content .form_lien_he .flh_button .flh_bt_gui{
	float:right;
	height:27px;
	width:39px;
	margin:2px 10px 2px auto;
}
.wrapper1 #body_content .form_lien_he .flh_button .flh_bt_gui input{
	float:right;
	height:27px;
	width:39px;
	background:url(../../images/icon/gui.png);
	background-repeat:no-repeat;
	border:0px;
    cursor: pointer;
}