/* CSS Document */

/* CSS Document */

#body_content .thu_vien_anh
{
 	width:99%;
	float:left;
    padding-bottom:170px;
	z-index:1;
}
 
#body_content .thu_vien_anh .tb_tieu_de{
	width:300px;
	float:left;
	height:60px;
}
#body_content .thu_vien_anh .tb_tieu_de .tb_td_img{
	height:60px;
	width:55px;
	float:left;
}
#body_content .thu_vien_anh .tb_tieu_de .tb_td_text{
	font-size:20px;
	font-weight:bold;
	text-align:left;
	float:right;
	width:243px;
	padding-top:20px;
	}/* CSS Document */
#body_content .thu_vien_anh .tb_tieu_de .tb_td_text a{
    color: #eaeae8;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac{
	float:left;
	height:100%;
	width:100%;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung{
	margin-top:10px;
	float:left;
	width:100%;
	height:100%;
	text-align:justify;
	background-position:center;
	border:1px;
	border-style:solid;	
	border-color:#FFFFFF;
	background:url(../../images/icon/br.png);
    color: #eaeae8;
  	}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .tva_nd_tieu_de{
	height:47px;
	width:100%;
	float:left;
	margin-bottom:30px;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .tva_nd_td_icon{
	float:left;
	height:57px;
	width:40px;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .tva_nd_text{
	margin-top:35px;
	font-weight:bold;
}
#body_content .thu_vien_anh  .cac_che_do_an_uong_khac .tva_noi_dung  .tva_nd__noi_dung{
	height:100%;
	width:100%;
	float:left;
	margin-bottom:10px;
	z-index:1;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .tva_nd_noi_dung .tva_nd_nd_data
{
	height:175px;
	width:190px;
	float:left;
	margin:5px 5px 5px 19px;
    #margin:5px 5px 5px 11px;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .tva_nd_noi_dung .tva_nd_nd_data .tva_nd_nd_dt_picture
{
	float:left;
	height: 150px;
	width:185px;
}

#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .tva_nd_noi_dung .tva_nd_nd_data .tva_nd_nd_dt_text
{
	float:left;
	height:40px;
	width:190px;
	font-size:13px;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .tva_nd_noi_dung .tva_nd_nd_data .tva_nd_nd_dt_picture1
{
	float:left;
	height:139px;
	width:190px;
	position:absolute;
}

#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .tva_nd_noi_dung .tva_nd_nd_data .tva_nd_nd_dt_text1
{
	float:left;
	height:35px;
	width:190px;
	text-align:center;
	font-size:13px;
	z-index:1;
	position:absolute;
	margin-bottom:5px;
	margin-top:5px;
    color: #eaeae8;
}

#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .cdddk_tieu_de{
	height:20px;
	width:100%;
	float:left;
	margin-bottom:30px;
}

#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .cdddk_tieu_de .cdddk_td_text{
margin-top:15px;
	font-weight:bold;
	position:absolute;
	padding-left:20px;
	font-weight:18px;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .tva_noi_dung .cdddk_tieu_de .cdddk_td_text a
{
    color: #eaeae8;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang
{
	height:34px;
	float:right;
    color: #eaeae8;
    
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang ul,li
{
    list-style-type: none;
}

#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang .pt_phan_tung_trang
{
	height:34px;
	float:left;
	text-align:center;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang .pt_phan_tung_trang .dot
{
    float: left;
    
}

#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang .pt_phan_tung_trang1{
	height:34px;
	width:100px;
	float:left;
	text-align:center;
	padding-top:7px;
	padding-left:2px;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang .pt_phan_tung_trang1  a
{
     color: #eaeae8;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang .pt_phan_tung_trang  a{
	font-weight:bold;height:34px;
	width:34px;
	float:left;
	text-align:center;
	padding-top:7px;
	padding-left:2px;
    color: #eaeae8;
    }

#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang  .pt_phan_tung_trang a:hover{
	background:url(../../images/icon/phan-trang.png);
	background-repeat:no-repeat;
	height:34px;
	width:34px;
	float:left;
	text-align:center;
	padding-top:7px;
	padding-left:2px;
    color: #eaeae8;
	}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .phan_trang  .pt_phan_tung_trang .pt_ptt_active{
	background:url(../../images/icon/phan-trang.png);
	background-repeat:no-repeat;
	height:34px;
	width:34px;
	float:left;
	text-align:center;
	padding-top:7px;
	padding-left:2px;
    font-weight: bold;
    color: white;
	}
    
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .cdddk_hinh_anh_khac{
	width:100%;
	height:60px;
	float:left;
	margin-top:20px;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .cdddk_hinh_anh_khac .cdddk_hak_icon{
	height:60px;
	width:40px;
	float:left;
	background:url(../../images/icon/icon-anh.png);
	background-repeat:no-repeat;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .cdddk_hinh_anh_khac .cdddk_hak_text{
	height:20px;
	width:90%;
	text-align:left;
	font-size:18px;
	float:right;
	margin-top:35px;
	margin-right:20px;
	font-weight:bold;
    color: #eaeae8;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .cdddk_noi_dung{
	height:30px;
	width:100%;
	float:left;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .cdddk_noi_dung .cdddk_nd_icon{
	height:20px;
	width:20px;
	float:left;
	margin-top:5px;
	background:url(../../images/icon/icon_nho.png);
	background-repeat:no-repeat;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .cdddk_noi_dung .cdddk_nd_text{
	height:20px;
	width:96%;
	text-align:left;
	font-size:14px;
	float:right;
	margin-top:10px;
}
#body_content .thu_vien_anh .cac_che_do_an_uong_khac .cdddk_noi_dung .cdddk_nd_text a
{
    color: #eaeae8;
}

