/* CSS Document */

#body_content .ct_thong_bao
{
 	width:100%;
	height:100%;
	float:left;
     color: #eaeae8;
    
}
#body_content .ct_thong_bao .tb_tieu_de{
	width:86%;
	float:left;
   
}
#body_content .ct_thong_bao .tb_tieu_de .tb_td_img{
	height:60px;
	width:60px;
	float:left;
}
#body_content .ct_thong_bao .tb_tieu_de .tb_td_text
{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	float:right;
	width:80%;
	margin-left: 3px;
	padding-top:20px;
	margin-right:5px;
    font-weight: bold;
    
    
    
}
#body_content .ct_thong_bao .tb_noi_dung
{
    margin-top:20px;
    float:left;
    width:100%;
    text-align:justify;   
    font: sharp; 

}
#body_content .ct_thong_bao .tb_noi_dung p
{
    margin-top:10px;
    float:left;
    width:100%;
    text-align:justify;   
    font: sharp; 

}
#body_content .ct_thong_bao .tb_noi_dung .list_nd
{
    margin-bottom:10px;
    float:left;
    width:100%;
    text-align:justify;   
    font: sharp; 

}
#body_content .ct_thong_bao .tb_noi_dung .span
{
      color: #eaeae8;
      
}
#body_content .ct_thong_bao .tb_noi_dung1{
    margin-top:20px;
    float:left;
    width:100%;
    text-align:justify;
    margin-bottom:20px;
     color: #eaeae8;
     
}