/* CSS Document */

#body_content .video_online{
	width:100%;
	float:left;
}
#body_content .video_online .tieu_de{
	float:left;
	width:100%;
	margin-bottom:20px;
}
#body_content .video_online .tieu_de  .vd_o_td_img{
	height:70px;
	width:49px;
	float:left;
	}
#body_content .video_online .tieu_de  .vd_o_td_text{
	float:left;
	height:32px;
	width:152px;
	margin-top:25px;
}


#body_content .video_online .vd_o_show_video {
	background:url(../../images/background/nen_video.png);
	background-repeat:no-repeat;
	width:640px;
	float:left;
	height:329px;

}

#body_content .video_online .vd_o_show_video  .vd_o_s_list{
	float:left;
	margin:0px 0px  10px 10px;
	width:194px;
}

#body_content .video_online .vd_o_show_video  .vd_o_s_list .v_ten_lop{
	float:left;
	height:40px;
	width:100%;
}
#body_content .video_online .vd_o_show_video   .vd_o_s_list .v_ten_lop .v_tl_text{
	float:left;
	font-size:14px;
	font-weight:bold;
	margin-top:15px;
	margin-left:5px;
	background:url(../../images/video_online/line_ten_lop.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	height:20px;
}
#body_content .video_online .vd_o_show_video  .vd_o_s_list .vd_o_s_danh_sach{
	float:left;
	height:24px;
	width:194px;
	margin-top:10px;
	background:url(../../images/video_online/line_ngan.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
}

#body_content .video_online .vd_o_show_video  .vd_o_s_list .vd_o_s_danh_sach .v_o_s_ds_img{
	float:left !important;
	background:url(../../images/icon/icon_nho.png);
	background-repeat:no-repeat;
	height:20px;
	width:22px;
}
#body_content .video_online .vd_o_show_video  .vd_o_s_list .vd_o_s_danh_sach .v_o_s_ds_text{
	float:left;
	font-size:13px;
	margin-top:5px;
	margin-left:5px;
	
}

#body_content .video_online .vd_o_show_video  .vd_o_s_list .vd_o_s_danh_sach .v_o_s_ds_text a:hover{
	color:#F32748;
}
#body_content .video_online .vd_o_show_video  .vd_o_s_list .vd_o_s_danh_sach .v_o_s_ds_text  .v_o_s_ds_t_active{
	color:#F32748;
}
#body_content .video_online .vd_o_show_video  .vd_o_s_video{
	height:310px;
	width:66%;
	margin:10px 0px 10px 0px;
	float:right;
}
#body_content .video_online .vd_o_show_video  .vd_o_s_video .line_right{
	float:left;
	height:310px;
	background:url(../../images/video_online/line_right.jpg);
	width:2px;
	margin-right:10px;
}
#body_content .video_online .vd_o_show_video  .vd_o_s_video .video{
	
	float:left;
   
}
#body_content .video_online .vd_o_show_video  .vd_o_s_video .the_span
{
    float: left;
    text-align: center;
    width: 400px;
}
#body_content .video_online .space{
    height: 10px;
    width: 100%;
    float:left;
}
