.admin_image
{
    width: 100%;
    float: left;
   
   
    
}
.admin_image_name_cate
{
    margin-left: 1%;
    width: 96%; padding-left: 1%; padding-right: 1%;
    height: 27px; padding-top: 7px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background: url('../../images/admin/bgheaderlist.png');
    background-repeat: repeat-x;
    font-size: 12px;
    
}
.admin_image_name_menu
{
    margin-left: 1%;
    width: 97%; padding-left: 1%;
    height: 70px;
  
}
.admin_image_name_menu_item 
{
    float: left;
    padding-right: 10px;
}
.admin_image_name_menu_item  a
{
    text-decoration: none;
    color: #000000;
}
.admin_image_name_menu_item  a:hover
{
    text-decoration: none;
    color: #000000;
}

.admin_image_message
{
    width: 98%; padding-left: 2%;
    padding-top: 1%;
    float: left;
    text-align: center;
    font-family: arial;
    font-size: 13px;
    line-height: 25px;
    color: #000000;
}

.admin_image_form
{
    width: 99%; padding-left: 1%;
    padding-top: 1%;
    float: left;
}

.admin_image_form_list
{
    width: 100%;
}
.admin_image_form_list_header
{
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
.admin_image_form_list_field
{
    width: 99%;
    padding-right: 1%;
}

.tbl
{
    width: 100%;
    
    
}

.tbl th
{
    text-align: left;
    height: 25px;
    background-color: #e7f3f8;
    padding-left: 1%;
    border-left: 0.5px solid #d3e5ed;
    border-right: 0.5px solid #d3e5ed;
}
.tbl td
{
    padding-left: 1%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0.5px solid #d3e5ed;
}
.tbl .tdHEADER
{
    padding-left: 1%;
    height: 35px;
    background: url('../../images/admin/bgheaderlist.png');
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
}

.admin_image_form_add
{
    width: 99%;
    padding-right: 1%;
}
.admin_image_form_add_header
{
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.admin_image_form_add_message
{
    color: orange;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
.admin_image_form_add_field
{
    width: 100%;
}

.tblAdd
{
    width: 100%;
}
.tblAdd .tdLeft
{
    width: 150px;
    text-align: left;
}
.tblAdd .tdRight
{
    text-align: left;
}

.fieldSet
{
    border: 1px solid #62c8f0;
}

.legen
{
    font-weight: bold;
}

.textField
{
    width: 300px;
    
}

.tbl td .tblFunction
{
    border: 0px !important;
    width: 150px;
}

.tbl td .tblFunction td
{
    border: 0px;
}

.tbl td .tblFunction td a
{
    text-decoration: none;
    font-family: arial;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
}

.tbl td .tblFunction td a:hover
{
    text-decoration: none;
    font-family: arial;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
}