.pagination{
padding: 2px;
margin: 1em 0;
clear: both;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: right; /*Set to "left" or "right" to left/right align pagination interface*/
font-size: 100%;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

*:first-child+html .pagination li a{ /*IE7 only CSS hack*/
margin-right: 4px; /*IE bug causes default spacing between links to disappear, so added it explicitly in IE7 */
}

* html .pagination li a{ /*IE6 and below CSS hack*/
margin-right: 4px; /*IE bug causes default spacing between links to disappear, so added it explicitly in IE6 and below browsers*/
}

.pagination a, .pagination a:visited, .pagination a:active{
padding: 0 5px;
border: 1px solid #FBF4A6;
text-decoration: none; 
color: #000000;
}

.pagination a:hover{
border: 1px solid #FBF4A6;
color: #000;
/*background-color: #FFFF80;*/
}

.pagination a.currentpage{ /*Style for currently selected page link*/

color: #000000 !important;

font-weight: bold;
cursor: default;
}

.pagination a.disabled, .pagination a.disabled:hover{ /*Style for "disabled" previous or next link*/
/*background-color: white;*/
cursor: default;
/*color: #929292;*/

border: 1px solid #FBF4A6;
}

.pagination a.prevnext{ /*Style for previous and next link*/
font-weight: bold;
}