*{margin: 0 0;}

body{
    font-family: arial;
    font-size: 12px;
}

a{
    color: black;
    text-decoration: none; 
}
/*menu*/
.ssmItems{
    text-decoration: none;
    font-size: 12px; 
    color: black;
}
.ssmItems:link{
    text-decoration: none; 
    color: black;
}
.ssmItems:hover{
    text-decoration: none; 
    color: black; 
    font-weight: bold;
}
/*end menu*/


.wrapper{
    width: 100%;
    height: 100%;
}

.wrapper .header{
    width: 100%;
    background: url('../../images/admin/head_bg.gif');
    height: 127px;
}
.wrapper .header .headerLeft{
    width: 83%; padding-left: 1%;
    float: left;
    color: #f3961f;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding-top: 12px; 
   
}
.wrapper .header .headerRight{
    width: 13%;  padding-right: 1%;
    padding-left: 1%;
    float: left;
    color: #f8d4fe;
    text-align: left;
    background: url('../../images/admin/user_details_bg.gif');
    background-repeat: no-repeat;
    background-position: right;
    height: 100px;padding-top: 12px; 
}
.wrapper .header .headerRight .welcom
{
    color: #a2bacc;
    font-weight: bold;
    font-family: arial;
    font-size: 12px;
}
.wrapper .header .headerRight .linkmenu
{
    text-decoration: none;
    color: #f8d4fe;
    font-family: arial;
    font-size: 11px;
}
.wrapper .header .headerRight .linkmenu:link
{
    text-decoration: none;
    color: #f8d4fe;
    font-family: arial;
    font-size: 11px;
}
.wrapper .header .headerRight .linkmenu:hover
{
    text-decoration: none;
    color: #f8d4fe;
     font-family: arial;
    font-size: 11px;
}
.wrapper .header .headerRight .usernamea
{
    font-weight: bold;
}

.wrapper .headerContent
{
    width: 99%;
    height: 31px;
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    padding-left: 1%;
    background: url('../../images/admin/menus_wrapper_bg.gif');
}
.wrapper .headerContent .left
{
    width: 100%;
    float: left;    
    text-align: left; 
    color: #000000;   
}

.wrapper .headerContent .left a
{
    color: #000000; text-decoration: none;
}

.wrapper .headerContent .left a:hover
{
    color: #000000; text-decoration: none;
}
.wrapper .headerContent .left .menu_left
{
    float: left;
    width: 100%;
    font-family: arial;
    text-transform: uppercase;
}

.wrapper .headerContent .right
{
    width: 19%;
    float: left;
    text-align: right; 
    margin-right: 1%;   
    color: #000000;
}

.wrapper .headerContent .right a
{
    color: #000000;
    text-decoration: none;
}
.wrapper .headerContent .right a:hover
{
    color: #000000;
    text-decoration: none;
}
.wrapper .section_menu
{
    width: 99%;
    background: url('../../images/admin/sec_menu_bg.gif');
    height: 33px;
    padding-top: 8px;
    padding-left: 1%;
}
.wrapper .section_menu a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}
.wrapper .section_menu a:hover
{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}
.wrapper .section_menu  img
{
    border: 0px;
    margin-right: 2px;
}
.tbl_menu_category
{
   
}
.tbl_menuLeft
{
    background-color: #cbe2ed;
}
.tbl_menuLeft .td_header_left
{
    width: 10px;
}
.tbl_menuLeft .td_header_center
{
    width: 250px;
    height: 35px;
    background: url('../../images/admin/bgheaderlist.png');
    background-repeat: repeat-x;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}
.tbl_menuLeft .td_header_right
{
    width: 10px;
}

.tbl_menuLeft .tdContent
{
    border-bottom: 2px solid #a5c3d0;
    border-left: 2px solid #a5c3d0;
    border-right: 2px solid #a5c3d0;
    padding-left: 2%;
}

.wrapper .content
{
    padding-top: 20px;
    width: 98%;   padding-left: 1%; padding-right: 1%;
    height: 1040px;
    position: relative;
    float: left;
    background: url('../../images/admin/content_top.gif');
    background-repeat: repeat-x;
    background-position: top;
}
.wrapper .content .contentLeft
{
    width: 19%;
    float: left;
    height: 100%;
    
}
.wrapper .content .contentLeft .head-funcOther
{
    width: 95%;
    float: left;
    height: 23px;
    background-color: #62c8f0;
    color: #ffffff; font-weight: bold; font-size: 12px;
    text-align: left;
    padding-left: 5%;
    padding-top: 5px;
}
.wrapper .content .contentLeft .funcOther
{
    width: 100%;
    background-color: #ffffff;
    float: left;
    
}
.wrapper .content .contentLeft .funcOther a
{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: block;
    
    height: 25px;
    background-color: #9edae9;
    margin-bottom: 1px;
    margin-top: 1px;
    color: #ffffff;
    padding-top: 7px;
    width: 90%; padding-left: 10%;
}
.wrapper .content .contentLeft .funcOther a:hover
{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    display: block;
    
    height: 25px;
    background-color: #9edae9;
    margin-bottom: 1px;
    margin-top: 1px;
    color: #ffffff;
    padding-top: 7px;
    width: 90%; padding-left: 10%;
}
.wrapper .content .contentLeft .head
{
    width: 95%;
    float: left;
    height: 23px;
    background-color: #62c8f0;
    color: #ffffff; font-weight: bold; font-size: 12px;
    text-align: left;
    padding-left: 5%;
    padding-top: 5px;
}
.wrapper .content .contentLeft .contentLeftBody
{
    width: 100%;
    height: 97%;
    float: left;
}
.wrapper .content .contentBorder{
    width: 0.5%;
    height: 100%;
    float: left;
    
    
}
.wrapper .content .contentBody{
    width: 80.5%;
    float: left;
    height: 100%; 
}

.wrapper .content .contentBody2{
    width: 100%;
    float: left;
    height: 100%; 
}


/*home*/
.wrapper .content .contentBody .home{
    height: 100%;
    width: 100%;
}
.wrapper .content .contentBody .home .NewsOrders{
    height: 100%;
    width: 100%;
}

/*catalog*/
.wrapper .content .catalog{
    height: 80%;
    width: 100%;
}
.wrapper .content .catalog .catalogHead{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-top: 1%;
}
.wrapper .content .catalog .catalogHead .catalogHeadLeft{
    width: 49%;
    float: left;
    padding-left: 1%;
}
.wrapper .content .catalog .catalogHead .catalogHeadRight{
    width: 49%;
    float: left;
    padding-right: 1%;
    text-align: right;
}
.wrapper .content .catalog .catalogHead .catalogHeadRight .catalogHeadRightLink{
    text-decoration: none;
    width: 120px;
    height: 20px;
    display: block;
    background-color: orange;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center; 
    float: right;
}
.wrapper .content .catalog .catalogHead .catalogHeadRight .catalogHeadRightLink:link{
    text-decoration: none;
    color: white;
}
.wrapper .content .catalog .catalogHead .catalogHeadRight .catalogHeadRightLink:hover{
    text-decoration: none;
    color: white;
    background-color: #7b98e1;
}
.wrapper .content .catalog .catalogContent{
    width: 98%; margin-top: 1%; margin-left: 1%; margin-right: 1%;
    float: left;background-color: #d9e7ff;padding-bottom: 1%;
}
.wrapper .content .catalog .catalogContent .catalogContentChild{
    width: 98%;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    
    
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentChildHead{
    width: 100%;
    height: 30px;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentChildHead 
    .catalogContentChildHeadItem1{
    float: left;
    width: 10%; 
    height: 24px; padding-top: 6px;
    
    
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentChildHead 
    .catalogContentChildHeadItem2{
    float: left;
    height: 30px; padding-top: 6px;
    width: 40%;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentChildHead 
    .catalogContentChildHeadItem3{
    float: left;
  
    height: 30px; padding-top: 6px;
    width: 15%;
}

.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentChildHead 
    .catalogContentChildHeadItem4{
    float: left;
    height: 30px;padding-top: 6px;
    width: 15%;
}

.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentChildHead 
    .catalogContentChildHeadItem5{
    float: left;
    height: 30px; padding-top: 6px;
    width: 5%;
}

.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentChildHead 
    .catalogContentChildHeadItem6{
    float: left;
    height: 30px; padding-top: 6px;
    width: 5%;
}

.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid{
    float: left;
    width: 100%; background-color: #ffffff; margin-bottom: 1px;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid1{
    float: left;
    width: 10%; 
    height: 24px; padding-top: 6px;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid1 .textBox{
        width: 50px; text-align: center;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid2{
    float: left;
    width: 40%; 
    height: 24px; padding-top: 6px;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid3{
    float: left;
    width: 15%; 
    height: 24px; padding-top: 6px;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid3 .catalogContentGrid31{
        width: 25%;
        float: left;
 }
 .wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid3 .catalogContentGrid32{
        width: 75%;
        float: left;
 }
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid4{
    float: left;
    width: 15%; 
    height: 24px; padding-top: 6px;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid5{
    float: left;
    width: 5%; 
    height: 24px; padding-top: 6px;
}
.wrapper .content .catalog .catalogContent .catalogContentChild .catalogContentGrid 
    .catalogContentGrid6{
    float: left;
    width: 5%; 
    height: 24px; padding-top: 6px;
}


/*add catelogy */

.wrapper .content .catalogAdd{
    height: auto;
    width: 100%;
    margin-top: 10px;
    
}
.wrapper .content .catalogAdd .catalogAddHead{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 10px;
}
.wrapper .content .catalogAdd .catalogAddHeadTitle{
    width: 96%; padding-left: 1%; padding-right: 1%;
    margin-left: 1%; margin-right: 1%; margin-bottom: 1%;
    font-size: 14px;
    color: black;
    float: left;
    border-bottom: 2px dotted #c7c7c7;
}


.wrapper .content .catalogAdd .catalogAddMenu{
    width: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
} 
.wrapper .content .catalogAdd .catalogAddMenu a{
    color: orange;
    font-size: 11px;
}
.wrapper .content .catalogAdd .catalogAddMenu a:hover{
    color: orange;
    font-size: 11px;
    font-weight: bold;
}
.wrapper .content .catalogAdd .catalogAddContent{
    width: 98%;   padding-left: 1%;  padding-right: 1%;
    float: left; padding-bottom: 1%;
}

.wrapper .content .catalogAdd .catalogAddContent .catalogAddContentField{
    width: 100%;
    height: auto; 
    float: left;
}
.wrapper .content .catalogAdd .catalogAddContent .catalogAddContentField .catalogAddContentLeft{
    width: 19%; padding-right: 1%;  padding-top: 8px;
    float: left;
    text-align: right;
}
.wrapper .content .catalogAdd .catalogAddContent .catalogAddContentField .catalogAddContentRight{
    width: 80%;
    float: left;
    padding-top: 8px;
    line-height: 30px;
}

.textName{
    width: 500px;
}
.ddlLocation{
    width: 500px;
}
.textAreaDes{
   
    width: 500px;
    height: 100px;
}

.wrapper .footer{
    height: 30px;
    width: 100%;
    background-color: #c7c7c7;
    float: left;
    
}

.buttonFotter
{
    position: fixed;
    bottom: 0;
    left: 100px;
    padding-top: 1%;
}

/*product*/
.wrapper .content .catalog .catalogContent .product{
     width: 98%; margin-top: 1%; margin-left: 1%; margin-right: 1%;
    float: left;background-color: #d9e7ff;padding-bottom: 1%;
}

.wrapper .content .catalog .catalogContent .product .productcontent
{
    width: 100%;
    background-color: #ffffff; 
    height: auto;
}

.wrapper .content .catalog .catalogContent .product .productcontent .gridTitle{
    height: 30px; font-weight: bold;
    width: 100%; background-color: #d9e7ff;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitle .productCode{
    width: 10%; float: left; 
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitle .productName{
    width: 40%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitle .price{
    width: 10%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitle .quantity{
    width: 10%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitle .status{
    width: 10%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitle .linkUpdate{
    width: 20%; float: left;
}

.wrapper .content .catalog .catalogContent .product .productcontent .gridTitleItem{
    height: 30px;
    width: 100%;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitleItem .productCode{
    width: 10%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitleItem .productName{
    width: 40%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitleItem .price{
    width: 10%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitleItem .quantity{
    width: 10%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitleItem .status{
    width: 10%; float: left;
}
.wrapper .content .catalog .catalogContent .product .productcontent .gridTitle .linkUpdate{
    width: 20%; float: left;
}

/*detail product*/


.detail_features{
    width: 100%;
    margin-top: 10px;
    margin-left: 1%;
   margin-bottom: 1%;
    
}
.detail_features .tabs_holder{
    width: 100%;
    float: left;
    margin-bottom: 5px;
    border-bottom: 2px solid #c7c7c7;
}

.detail_features .tabs_holder .tab{
    text-decoration:none; float:left; 
    margin-right:5px; padding:0 7px; 
    color:#333; font-size:11px; 
    font-weight:normal; line-height:18px; 
    border:2px solid #e1e1e1; background:#EBEBEB;
    
}
.detail_features .tabs_holder .tab:hover, .detail_features .tabs_holder .tab.active{
    text-decoration:none; background:#4870af; color:#fff; 
}

.detail_features .contents_holder{
    z-index:2; 
    min-height:50px; padding:15px 20px 10px;
    margin-top:-2px;  
}

.detail_features .contents_holder .content_description
{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 1%;
    
}

.detail_features .contents_holder .content_images
{
    width: 100%;
    height: auto;
    float: left;
}

/*04-01-2010*/
.messageError{
    color: red;
}

.messageAdmin{
    color: blue;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    float: left;
}

.messageRequire{
    color: red;
    width: 100%;
    text-align: center;
}
/*end 04-01-2010*/

.divFunctions{
    width:100%;
    height: auto;
}
.divFunctions .divFunctionsItem{
    width: 100%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
.divFunctions .divFunctionsItem .divFunctionsItemHeader{
   font-weight: bold;
   text-transform: uppercase;
   color: #25588f;
   margin-bottom: 10px;
}
.divFunctions .divFunctionsItem .divFunctionsItemList{
    width: 20%; padding-left: 2%;
    height: 30px;
    float: left;
    font-size: 12px;
    color: #25588f;
    font-weight: bold;
    
}
.divFunctions .divFunctionsItem .divFunctionsItemList a{
    text-decoration: none;
    color: #25588f;
}
.divFunctions .divFunctionsItem .divFunctionsItemList a:hover{
    text-decoration: none;
    color: #25588f;
}

.contact_fiel
{
    height: 30px;
    text-align: left;
}

.linkAddNews
{
     text-decoration: none;
    color: orange;
    font-size: 15px;
    font-weight: bold;
    
}
.linkAddNews:link
{
    text-decoration: none;
    color: orange;
    font-size: 15px;
    font-weight: bold;
}
.linkAddNews:hover
{
    text-decoration: none;
    color: orange;
    font-size: 15px;
    font-weight: bold;
}

.catalogAddHeadTitleMessageFunc{
    width: 100%;    float: left; 
    font-size: 14px;
    color: orange;

    text-align: center; font-weight: bold;

   
}

.catalogAddHeadTitleMenu
{
    width: 100%;    float: left; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkAll
{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: orange;
}
.checkAll:link
{
    text-decoration: none;
    font-size: 12px;
    color: orange;
    font-weight: bold;
}
.checkAll:hover
{
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: orange;
}
/*phan trang*/
/*the viet 10/03/2010*/
/*-----------phan trang----------*/



#phan_trang{

	float:right;

	margin-top:10px;

}



#phan_trang ul{

	border:0; 

	margin:0; 

	padding:0;

	float:left;

}



#phan_trang li{

	border:0; margin:0; padding:0;

	font-size:11px;

	list-style:none;

	float:left;

}

#phan_trang a{

	border:solid 1px #DDDDDD;

	margin-right:2px;

}

#phan_trang .previous-off,

#phan_trang .next-off {

	color:#666666;

	display:block;

	float:left;

	font-weight:bold;

	padding:3px 4px;

}

#phan_trang .next a,

#phan_trang .previous a {

	font-weight:bold;

	border:solid 1px #FFFFFF;

}

#phan_trang .active{

	color:#666;

	font-weight:bold;

	display:block;

	float:left;

	padding:4px 6px;

}

#phan_trang a:link,

#phan_trang a:visited {

	color:#CC0000;

	display:block;

	float:left;

	padding:3px 6px;

	text-decoration:none;

}

#phan_trang a:hover{

	border:solid 1px #666666;

}
/*-----------phan trang----------*/

#phan_trang{
	float:right;
	margin-top:10px;
}

#phan_trang ul{
	border:0; 
	margin:0; 
	padding:0;
	float:left;
}

#phan_trang li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	float:left;
}
#phan_trang a{
	border:solid 1px #DDDDDD;
	margin-right:2px;
}
#phan_trang .previous-off,
#phan_trang .next-off {
	color:#666666;
	display:block;
	float:left;
	font-weight:bold;
	padding:3px 4px;
}
#phan_trang .next a,
#phan_trang .previous a {
	font-weight:bold;
	border:solid 1px #FFFFFF;
}
#phan_trang .active{
	color:#666;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
}
#phan_trang a:link,
#phan_trang a:visited {
	color:#CC0000;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
#phan_trang a:hover{
	border:solid 1px #666666;
}


/*----------end phan trang--------------*/


.linkCheckAll
{
    text-decoration: none;
    font-size: 12px;
    font-family: arial;
    color: orange;
    font-weight: bold;
}
.linkCheckAll:link
{
    text-decoration: none;
    font-size: 12px;
    font-family: arial;
    color: orange;
    font-weight: bold;
}
.linkCheckAll:hover
{
    text-decoration: none;
    font-size: 12px;
    font-family: arial;
    color: orange;
    font-weight: bold;
}

.btDeleteAll
{
    border: 0px;
    text-align: left;
    color: orange;
    font-weight: bold;
    cursor: pointer;
}


.headerForm
{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family: arial;
}
.menuAdmin a
{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}

.tblList
{
    border: 1px solid #D9E7FF;
    font-size: 12px;
    font-family: arial;
}
.tblList th
{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}
.tblList td
{
    vertical-align: top;
}
.tblList td,th
{
    padding: 3px;
    border: 1px solid #D9E7FF;
}
.titleForm
{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}
.titleFormItem
{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
}
.divError
{
    color: red;
}

.orders
{
    width: 100%;
}
.orders .orders_header
{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.orders .order_main
{
    width: 100%;
}

.orders .order_main .orders_ddlStatus
{
    width: 100%;
    float: left;
}
.orders .order_main .orders_list_header
{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    padding-top: 10px;
}
.orders .order_main .orders_list
{
    width: 100%;
    margin-top: 10px;
}
.orders .order_main .orders_list .tblList
{
    border: 1px solid #D9E7FF;
    
}
.orders .order_main .orders_list .tblList a
{
    text-decoration: none;
    color: #000000;
}
.orders .order_main .orders_list .tblList th
{
    background-color: #D9E7FF;
    text-align: left;
}

.orders .order_main .order_detail
{
    width: 100%;
    padding-top: 20px;
}
.orders .order_main .order_detail .order_detail_title
{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding-top: 20px;
}
.orders .order_main .order_detail .order_detail_status
{
    width: 100%;
    padding-top: 20px;
}
.orders .order_main .order_detail .order_detail_customer
{
    width: 100%;
    padding-top: 20px;
}
.orders .order_main .order_detail .order_detail_list
{
    width: 100%;
    padding-top: 20px;
}
.orders .order_main .order_detail .order_detail_list .tblOrderDetail
{
    width: 100%;
    border: 1px solid #D9E7FF;
}
.orders .order_main .order_detail .order_detail_list .tblOrderDetail th
{
    background-color: #D9E7FF;
    border: 1px solid #D9E7FF;
    text-align: left;
}
.orders .order_main .order_detail .order_detail_list .tblOrderDetail td
{
    border: 1px solid #D9E7FF;
    text-align: left;
    padding: 3px;
}

.orders .order_main .order_detail .order_detail_staff
{
     width: 100%;
     padding-top: 20px;
}

.members
{
    width: 100%;
}
.members .members_title
{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.members .members_list
{
    width: 100%;
    
}

