<table width="100%" cellpadding="2" cellspacing="2" border="0" align="center">
    <tr class="divSystemItemList">
        <td> 
            {if $typeAdmin=="admin"}
                 &nbsp;
                 <img src="images/admin/action1.gif" />
                <a href="admin.php?3nss=categories">Qu&#7843;n l&#253; lo&#7841;i danh m&#7909;c</a>
            {/if}
            
            {if $typeAdmin=="admin" || $typeAdmin=="subadmin"}
                 &nbsp;
                <img src="images/admin/action1.gif" />
                <a href="admin.php?3nss=categories.manage">Qu&#7843;n l&#253; danh m&#7909;c</a>
            {/if}
            
            {if $typeAdmin=="admin" || $typeAdmin=="subadmin"}
                &nbsp;
                <img src="images/sm_lk4.gif" />
                <a href="admin.php?3nss=user">Qu&#7843;n l&#253; th&#224;nh vi&#234;n</a>
            {/if}
        </td>
    </tr>
 </table>