{literal}
  <style>
   a{
     
   }
  </style>
    <script language="javascript">  
		$( function() {
			$( '.checkAll' ).live( 'change', function() {
				$( '.cb-element' ).attr( 'checked', $( this ).is( ':checked' ) ? 'checked' : '' );
				$( this ).next().text( $( this ).is( ':checked' ) ? 'Uncheck All' : 'Check All' );
		          document.getElementById("btsave").value=1;
        	});
			$( '.invertSelection' ).live( 'click', function() {
			  document.getElementById("btsave").value=0;
				$( '.cb-element' ).each( function() {
					$( this ).attr( 'checked',$( this ).is( ':checked' ) ? '' : 'checked' );
				}).trigger( 'change' );
			});
			$( '.cb-element' ).live( 'change', function() {
				$( '.cb-element' ).length == $( '.cb-element:checked' ).length ? $( '.checkAll' ).attr( 'checked', 'checked' ).next().text( 'Uncheck All' ) : $( '.checkAll' ).attr( 'checked', '' ).next().text( 'Check All' );
			});
            ////
    	  $('tr[@class^=child-]').hide().children('td');

		});
         function checkall(id)
         {
           
            $("#watch"+id).attr('checked','checked');
            $("#add"+id).attr('checked','checked');
            $("#del"+id).attr('checked','checked');
            $("#fix"+id).attr('checked','checked');
            $("#topic"+id).attr('checked','checked');
            return false;
            
         }
           function uncheckall(id)
         {
            
            $("#watch"+id).attr('checked',false);
            $("#add"+id).attr('checked',false);
            $("#del"+id).attr('checked',false);
            $("#fix"+id).attr('checked',false);
            $("#topic"+id).attr('checked',false);
            return false;
            
         }
        function docheck(ct,vt)
        {   
            
             temp=ct.checked;
            if(temp==true)
            {
                  frm="watch"+vt;
                if(document.getElementById(frm).checked==false)
                {
                      var bt="watch"+vt;
                      document.getElementById(bt).checked=true;
                     return false;
                }
            }
            return true;
        }		               
        //
        function showValues(field)
        {
            for (i = 0; i <= field.length; i++)
            	alert(field[i].value)
        }
        function setcheckall(flag,url)
        {
              var add = new Array();
              var watch =new Array();
              var del =new Array();
              var fix= new Array();
              var topic=new Array();
             $.each($("input[name='add[]']:"), function() {                     
                var value=$(this).attr('checked')?1:0;
                add.push(value);
            });
             $.each($("input[name='watch[]']:"), function() {                                    
                 var value=$(this).attr('checked')?1:0;
                 watch.push(value);
            });
             $.each($("input[name='del[]']:"), function() {                     
                var value=$(this).attr('checked')?1:0;
                del.push(value);
            });
             $.each($("input[name='fix[]']:"), function() {                     
                var value=$(this).attr('checked')?1:0;
                fix.push(value);
            });
              $.each($("input[name='topic[]']:"), function() {                     
                var value=$(this).attr('checked')?1:0;
                topic.push(value);
            });
            var stradd=add.toString();
            var strwatch=watch.toString();
            var strdel=del.toString();
            var strfix=fix.toString();
            var strtopic=topic.toString();
           $('#placeholder').html('<p><img src="images/admin/loading.gif" width="220" height="19" /></p>');
            var user_id={/literal}{$user_id}{literal};
             $.ajax({
            async: false,
            type: "POST",
        	url: "include/admin/admin_check_permsion.php",
        	data: "permision="+strwatch+"-"+stradd+"-"+strdel+"-"+strfix+"-"+strtopic+"-"+url+"-"+user_id,
        	success: function(msg){
        	isExist =msg ;         
}
});
        }
        
        function set_permision(obj) {
        var isExist = true;
        var position=obj.getAttribute('name');
        var flag="";
        if(document.getElementById("watch"+position).checked) 
            flag+="1";
        else
        flag+="0";
           flag+=",";
        if(document.getElementById("add"+position).checked)
          flag+="1";
        else
          flag+="0";
             flag+=",";
        if(document.getElementById("del"+position).checked)  
          flag+="1";
        else
          flag+="0";
             flag+=",";
          if(document.getElementById("fix"+position).checked)
          flag+=1;
          else
          flag+=0;
          flag+=",";
           if(document.getElementById("topic"+position).checked)
          flag+=1;
          else
          flag+=0;
          flag+=",";
          flag+=position;
          flag+="," +[{/literal}{$user_id}{literal}];
      
    $.ajax({
        async: false,
        type: "POST",
	url: "include/admin/admin_product_set_permsion.php",
	data: "permision="+flag,
	success: function(msg){
	    isExist = msg;
      // alert(msg);
	}
    });
   if(isExist)
   {
  
     location.reload(true);
   }
    return isExist;
}
   function do_check(id)
   { 
      //$(this).siblings('.child-'+id).toggle();
      //$('.child-'+id).slideToggle("slow");
       if($('.child-'+id).is(':hidden'))
       {
        $('.child-'+id).show();

       }
       else{
      $('.child-'+id).hide();
       }
      return false;
   }
//

    </script>
{/literal}

 <form  action="" method="post" name="id_type">
     {$cb_site}
  
    </form>
<form  id="news" name="myform" method="post" >
<div class="admin_image_form_list">
    <div class="admin_image_form_list_field">
            <div id="placeholder"></div>


                <div id="paginate-top" class="paginatetop"></div>
                <div id="productcontent" class="productcontent"></div>
                <div id="paginate-bottom" class="paginatebottom"></div>
            
          
            {literal}
                <script type="text/javascript">
                    var listNews={
                    pages: [{/literal}{$scriptPagingNews}{literal}],
                    selectedpage: 0 //set page shown by default (0=1st page)
                    }
                    var mybookinstance=new ajaxpageclass.createBook(listNews, "productcontent", ["paginate-top", "paginate-bottom"])
                </script>
            {/literal}
           
    </div>
    
</div>
</form>