<link href="css/admin/login.css" rel="stylesheet" type="text/css"  charset="utf-8" />
{literal}
<script type="text/javascript" src="js/checkLogin.js" charset="utf-8"></script>
{/literal}
        
   
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td style="padding-top: 30px;" > 
            <form name="frm" id="frm" method="post" action="" onSubmit="return checklogin();">
            <table border="0" cellpadding="0" cellspacing="0" width="645" id="table1" height="250" align="center">
                <tr>
                    <td background="images/bg.gif"  valign="top" style="background-repeat: no-repeat;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="table3">
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="4" cellspacing="0" width="570" id="table2">
                                <tr>
                                    <td colspan="2" align="center" height="90">
                                    <img border="0" src="images/user.gif" width="470" height="52"/></td>
        
                                </tr>
                                <tr valign="top">
                                    <td>&nbsp;</td>
                                    <td valign="top" align="left" style="font-size:13px; height:30px;">
                                        Vui l&#242;ng nh&#7853;p c&#225;c th&#244;ng tin b&#234;n d&#432;&#7899;i
                                    </td>
        
                                </tr>
                                <tr>
                                    <td height="24" align="right" width="121" style="font-size:13px;"><b>
                                    <font color="#FF0000">*</font>T&#234;n &#273;&#259;ng nh&#7853;p </b></td>
                                    <td width="433">
                                        <input type="text" name="user_username" id="user_username" style="width:200px;" />
        
                                        <input type="text" name="user_usernameerror" id="user_usernameerror" 
                                            style="width:200px; background-color:#F5F5F5; color:#F00; border:0px;" 
                                            disabled="disabled" value=""  />
        							</td>
                                </tr>
                                <tr>
                                    <td height="24" align="right" width="121" style="font-size:13px;"><b>
                                    <font color="#FF0000">*</font>M&#7853;t kh&#7849;u</b></td>
                                    <td width="433">
                                            <input type="password" name="user_password" id="user_password" style="width:200px;"/>
                                            <input type="text" name="user_passworderror" id="user_passworderror" 
                                            style="width:200px; background-color:#F5F5F5; color:#F00; border:0px;" 
                                            disabled="disabled" value="" />
        							</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td align="left">
                                    <button name="login" id="login" type="submit" 
                                            value="login">
                                            &#272;&#259;ng nh&#7853;p
                                    </button>
                                    <button name="reset" id="reset" 
                                            onclick="resetform();" 
                                            type="reset" value="Reset" >
                                            Nh&#7853;p l&#7841;i</button>                              
                                   </td>
                                </tr>
                                </table>
                                </td>
        
                            </tr>
                            <tr>
                                <td height="20" align="right" valign="bottom" style="font-family: Arial; font-size: 7pt;">
                                <a href="http://www.3nss.net" target="_blank" style="text-decoration:none;"> Design by NEW SUN SOFT.</a>&nbsp;&nbsp;&nbsp;&nbsp; </td>
                            </tr>
                        </table>
                    </td>
        
                </tr>
            </table>
            </form>
        </td>
    </tr>
</table>