<!--JAVASCRIPT-->
{literal}

<script language="javascript">
function check()
{
    rs=window.confirm("Ban that su muon xoa ?");
    if(rs==true)
        return true;
    else 
        return false;
}
</script>
{/literal}

<!--CSS-->
<link href="css/admin/admin_image.css" rel="stylesheet" type="text/css" charset="utf-8" />
<!--END CEE-->

<div class="admin_image">
    <div style="background:none; color:black" class="admin_image_name_cate">
        {$strMessage}
    </div>
  
    <div class="admin_image_message">
    {if isset($contact->id)&& $contact->id[0]!=""}
       <div style=" float:left;width:70%;" align="left">
            <p><b>H&#7885; t&#234;n ph&#7909; huynh</b>:{$contact->full_name[0]}</p>
            <p><b>&#272;&#7883;a ch&#7881;</b>:{$contact->address[0]}</p>
            <p><b>&#272;i&#7879;n tho&#7841;i</b>:{$contact->phone[0]}</p>
            <p><b>Email</b>:{$contact->email[0]}</p>
            <p><b>Content</b>:{$contact->content[0]}</p>
       </div>
       {/if}
    </div>
    
    <div class="admin_image_form">
         {include file="$admin_news_form"}
    </div>
    
</div>

{$temp}