{literal}
   <script type="text/javascript" src="js/calendarDateInput.js">
<style type="text/css">
	.contact_fiel{ 
		font-weight:bold;
		font-size:12px;
		background-color:#D9E7FF;
	}	
	.contact_value{
		font-size:12px;
	}
    img{
        border:none;
    }
</style>
{/literal}
<form name="frm_pt" id="frm_pt" method="post" action="">
{literal}
<style type="text/css">
	.contact_fiel{ 
		font-weight:bold;
		font-size:12px;
		background-color:#D9E7FF;
	}
	
	.contact_value{
		font-size:12px;
	}
</style> 
<script language="javascript">
        function check()
        {
        sao=window.confirm("Do You want to delete ?");
        if(sao==true)
        return true;
        else return false;
        }
        function ClickToURL(linkVal)
        {
        	if (linkVal != 0)
            {
        	    // alert(frm.sumhd14.value);
                document.location=linkVal;
                }
        }
		
//-->
          function ClickToURL(linkVal)
        {
             
        	if (linkVal != 0)
            {
        	    // alert(frm.sumhd14.value);
                document.location=linkVal;
                }
        }
      

          function setFocus()
   {
	var frm = document.frm_catogory;
	frm.txtCompany.focus();
	return false;
   }
setTimeout("setFocus()", 400);
</script>
{/literal}
<form name="frm_p" id="frm_p" method="post" action="">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td><div class="catalogAddHeadTitleMessageFunc">{$mess}</div></td>
            <td align="right">
                <a  class="linkAddNews" href="admin.php?3nss=adv&type=add">
                   Tạo quảng cáo
                </a>
            </td>
          </tr>
    </table>
    </form>
    <form name="frm" id="frm" method="post" action="">
    <table width="100%" border="0" cellspacing="2" cellpadding="2" bgcolor="#D9E7FF"  style=" font-size:11px">
        <tr align="center" >
           <td width="10"  class="contact_fiel"><strong>Stt</strong></td>
            <td  width="300" class="contact_fiel"><strong>Tên công ty</strong></td>
            <td  width="50" class="contact_fiel"><strong>Logo</strong></td>
            <td width="50" class="contact_fiel"><strong>Ảnh mở rộng</strong></td>
            <td width="150" class="contact_fiel"><strong>Ngày bắt đầu</strong></td>
            <td width="150" class="contact_fiel"><strong>Ngày kết thúc</strong></td>
            <td width="150" class="contact_fiel"><strong>Truy cập</strong></td> 
           <td width="150" class="contact_fiel"><strong>Ngày tạo </strong></td>
            <td width="50" class="contact_fiel"><strong>Vị trí</strong></td>
             <td width="50" class="contact_fiel"><strong>Tình trạng</strong></td>
            <td width="80" class="contact_fiel" colspan="2" align="center"><div align="center">Chức năng</div></td>
        </tr>
      
        {section name=i loop= $objCategory->AdvId}
        <tr {$status_bg[i]} class="contact_value" onmouseover="active(this,'#FFEEBB')" onmouseout="deactive(this)" align="left">
            <td align="left">{$no[i]}</td>
            <td align="left">{ $objCategory->CompanyName[i]}</td>
             <td align="left">     
             <img src="uploads/logo/{$objCategory->image_path[i]}"  width="50" height="50" />
             </td>
             <td align="left"> 
               {if isset($objCategory->extention_image[i])&&$objCategory->extention_image[i]!=""}  
             <img src="uploads/icon/{$objCategory->extention_image[i]}"  width="50" height="50" />
             {else}
             &nbsp;
             {/if}
             </td>
                 <td >{$objCategory->begin_date[i]}</td>
            <td>{ $objCategory->begin_end[i]}</td>
            <td>{$objCategory->count_view[i]}</td>
          <td >{$objCategory->date_created[i]}</td>
            <td>{ $objCategory->cbPostion[i]}</td>
            <td>
			   <span>
                    <a href="{$linki[i]}&status=active&active={$objCategory->status[i]}" onMouseover="fixedtooltip('Active', this, event, '50px')" onMouseout="delayhidetip()"><img src="images/{$status_img[i]}" width="16" height="16" border="0"  alt="Active" /></a>
                </span>
			</td>
           
            <td align="center">
                <table width="100%" border="0" cellspacing="1">
            		<tr align="center">
                	 {if  $objCategory->status[i]!="1"}
            <td width="25%"><input type="checkbox" name="chkid[]" id="chkid" value="{$objCategory->AdvId[i]}" onClick="docheckone();" />            
          </td>
          {else}
          <td>&nbsp;</td>
          {/if}
                		 <td width="30%">
                          	   {if  $objCategory->status[i]!="1"}
                                <a href="{$linki[i]}&type=del"  onMouseover="fixedtooltip('Delete', this, event, '50px')" onMouseout="delayhidetip()"
                				onclick="return check()" >
                				<img src="images/delete.png" width="16" height="16" style="border:0px;"  alt="Delete"/></a>
                            {/if}
                		 </td>
           	          <td width="30%">
                            <a href="{$linki[i]}&type=edit"  onMouseover="fixedtooltip('Edit', this, event, '50px')" onMouseout="delayhidetip()"><img src="images/edit.png" width="16" height="16" style="border:0px;" alt="Edit"/></a> 
           	           
           	          
        		</table>
              
            </td>
      </tr>
      	{/section}
       <tr bgcolor="#FFFFFF">
        <td colspan="11">{$pages}{$query}</td>
       </tr>
    </table>
    </form>


{if isset($type)&&($type=="edit"||$type=="add")}
{literal}
  <script>
  function onsubmitfrm()
		 {
			   
				var image_large=frm_catogory.image_large.value;
                var image_small=frm_catogory.image_thum.value;
                	document.getElementById('txtimage_thumerror').value= '';
                    	document.getElementById('txtimage_lagreerror').value= '';
			 
                    if(image_small!="")
				{
		    if(image_small.lastIndexOf(".jpg")==-1&&image_small.lastIndexOf(".gif")==-1&&image_small.lastIndexOf(".png")==-1&&image_small.lastIndexOf(".jpeg")==-1
               &&image_small.lastIndexOf(".JPG")==-1&&image_small.lastIndexOf(".GIF")==-1&&image_small.lastIndexOf(".PNG")==-1&&image_small.lastIndexOf(".JPEG")==-1
              &&image_small.lastIndexOf(".bmp")==-1)
					  {
								document.getElementById('txtimage_thumerror').value= 'Chỉ nhập file hình ảnh';
								 return false;
						}
			 
				}
             	if(image_large!="")
				{
				    
		    if(image_large.lastIndexOf(".jpg")==-1&&image_large.lastIndexOf(".gif")==-1&&image_large.lastIndexOf(".png")==-1&&image_large.lastIndexOf(".jpeg")==-1
               &&image_large.lastIndexOf(".JPG")==-1&&image_large.lastIndexOf(".GIF")==-1&&image_large.lastIndexOf(".PNG")==-1&&image_large.lastIndexOf(".JPEG")==-1
              )
					  {             
					                document.getElementById('txtimage_lagreerror').value= 'Chỉ nhập file hình ảnh';   
								 
								 return false;
						}
			 
				}
            
			return true;
		}
  </script>
{/literal}
<form id="frmAddCategory" name="frm_catogory" method="POST" 
 action="" onsubmit="return  onsubmitfrm();" enctype="multipart/form-data">
    <div class="catalogAdd">
         <div class="catalogAddHead">
           Tạo quảng cáo
         </div>
         <div class="catalogAddHeadTitle"><strong>Thông tin quảng cáo :</strong></div>
      
         <div class="catalogAddContent">
                <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
               Tên công ty :
                </div>
                <div class="catalogAddContentRight">
                      <textarea class="textAreaDes" id="txtCompany" name="txtCompany">{$objCategoryDetail->CompanyName[0]}</textarea>  
                </div>
            </div>
             <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
               Logo :
                </div>
                <div class="catalogAddContentRight">
                    <input type="file" name="tmp_icon" /> 
                   {if isset($objCategoryDetail->image_path[0])&&$objCategoryDetail->image_path[0]!=""}
                    <img src="uploads/logo/{$objCategoryDetail->image_path[0]}" height="50" width="50"  />
                    {/if} 
                </div>
            </div>
             <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
             extention_image:
                </div>
                <div class="catalogAddContentRight">
                
                    <input type="file" name="tmp_extention_image" /> 
                    {if isset($objCategoryDetail->extention_image[0])&&$objCategoryDetail->extention_image[0]!=""}
                    <img src="uploads/logo/{$objCategoryDetail->extention_image[0]}"  width="50"  height="50" /> 
                    {/if}
                </div>
            </div>
            <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                Đường dẩn:
                </div>
                <div class="catalogAddContentRight">
                  <input type="text"  name="_url"  value="{$objCategoryDetail->url[0]}"/>
                 <input type="text" name="txtmusci_URlrror" id="txtURlrror" style="width:200px; background-color:#FFF; color:#F00; border:0px;" disabled="disabled" />
                </div>
            </div>
              <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                Tình trạng:
                </div>
                <div class="catalogAddContentRight">
                     <input type="checkbox" name="status" value="1"{if $objCategoryDetail->status[0]==1}                  checked="checked"{/if}>
                    <input type="text" name="txtmusci_URlrror" id="txtURlrror" style="width:200px; background-color:#FFF; color:#F00; border:0px;" disabled="disabled" />
                </div>
            </div>    
              <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                Direction:
                </div>
                <div class="catalogAddContentRight">
                  <input type="checkbox" name="Direction" value="1"   {if $objCategoryDetail->id_direction[0]=="1"}   checked="checked"  {/if}/>
                </div>
            </div>
             <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                   	target:
                </div>
                <div class="catalogAddContentRight">
                     <select name="target" >
                     <option value="0" {if $objCategoryDetail->target[0]=="0"} selected="selected"  {/if} > -</option>
                     <option value="1" {if $objCategoryDetail->target[0]=="1"} selected="selected"  {/if}> _Target</option>
                     
                    </select>
                </div>
           </div>
          
           <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                   	Ngày bắt đầu:
                </div>
                <div class="catalogAddContentRight">
                  {literal}
                  <script>DateInput('orderdate_start', true, 'DD-MON-YYYY')</script>
                  {/literal}
                </div>
           </div>
           <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                   	Ngày kết thúc:
                </div>
                <div class="catalogAddContentRight">
                      {literal}
                  <script>DateInput('orderdate_end', true, 'DD-MON-YYYY')</script>
                  {/literal}
                </div>
           </div>              
         <div class="catalogAddHeadTitle" >
            <input type="submit" {if $type=="add"}  name="btn"   value="Tạo mới"{/if}
            {if $type=="edit"}  name="action"   value="Thay đổi"{/if}  
             />
         </div> 
</form>

{/if}