{literal}
<style type="text/css">
	.contact_fiel{ 
		font-weight:bold;
		font-size:12px;
		background-color:#D9E7FF;
	}	
	.contact_value{
		font-size:12px;
	}
    img{
        border:none;
    }
</style>
{/literal}
<form name="frm_pt" id="frm_pt" method="post" action="">
   				 <input name="post" type="hidden" value="post" />
  
{literal}
<style type="text/css">
	.contact_fiel{ 
		font-weight:bold;
		font-size:12px;
		background-color:#D9E7FF;
	}
	
	.contact_value{
		font-size:12px;
	}
</style> 
<script language="javascript">
        function check()
        {
        sao=window.confirm("Do You want to delete ?");
        if(sao==true)
        return true;
        else return false;
        }
        function ClickToURL(linkVal)
        {
        	if (linkVal != 0)
            {
        	    // alert(frm.sumhd14.value);
                document.location=linkVal;
                }
        }
        function docheck(ct,vt)
        {   
              //alert("gsag");
             temp=ct.checked;
            if(temp==true)
            {
                  frm="watch"+vt;
              //  alert(frm);
                //  alert(document.getElementById(frm).value);
                if(document.getElementById(frm).checked==false)
                {
                      var bt="watch"+vt;
                      document.getElementById(bt).checked=true;
                     return false;
                }
            }
            return true;
        }
		
//-->
function getID()
{
     alert("Caca");
     return false;
   //alert(obj.ID);
}
</script>
{/literal}
<form name="frm_p" id="frm_p" method="post" action="">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          
            <td align="left">
                <a  class="linkAddNews" href="#">
                 Tài khoản:{$txtUserAcount}
                </a>
            </td>
              <td><div class="catalogAddHeadTitleMessageFunc">{$mess}</div></td>
          </tr>
    </table>
    </form>
    {if !isset($type)||($type!="edit"&&$type!="add")}
    {literal}
      <script type="text/javascript" src="js/admin/treetable.js"></script>
    {/literal}
    <form name="frm" id="frm" method="post" action="">
    <table width="100%" border="0" cellspacing="2" cellpadding="2" bgcolor="#D9E7FF" id="table1">
        <tr align="center" bgcolor="#FFFFFF">
             <td width="10"  class="contact_fiel">Stt</td>
            <td  width="330" class="contact_fiel">Tên danh mục</td>
            <td width="100" class="contact_fiel">Loại danh mục</td>
            <td width="50" class="contact_fiel">Xem</td>
            <td width="50" class="contact_fiel">Thêm</td>
            <td width="50" class="contact_fiel">Xóa </td>
            <td width="50" class="contact_fiel">Sửa</td>
            <td width="50" class="contact_fiel" >Topic</td>
             <td width="50" class="contact_fiel" >Lưu</td>
        </tr>

        {section name=i loop= $objCategory->categoryId}
        
        <tr    {$status_bg[i]} class="contact_value" onmouseover="active(this,'#FFEEBB')" onmouseout="deactive(this)" align="left">
            <td align="left">{$no[i]}</td>
            {if $objCategory->flag[i]==1}
            <td align="left" ><a href="#" onclick="treetable_toggleRow('table_{$no[i]}');"
            > { $objCategory->category[i]}
            </a>
            </td>
            {else}
             <td align="left" >{$objCategory->category[i]}</td>
            {/if}     
          <td >{$objCategory->categoryType[i]}</td>
          <td align="center"> 
          <input type="checkbox" name="watch{$no[i]}" id="watch{$no[i]}"
          {if  $objCategory->subpermision[i][0]==1} checked="checked"{/if}
           value="1" />
          </td>
            <td  align="center"><input type="checkbox" name="add{$no[i]}" id="add{$no[i]}"
             onclick="docheck(add{$no[i]},{$no[i]})"
              {if  $objCategory->subpermision[i][1]==1}  checked="checked"{/if}
             value="1" /></td>
            <td align="center"> <input type="checkbox" name="del{$no[i]}" value="1"  id="del{$no[i]}"
            onclick="docheck(del{$no[i]},{$no[i]})"
              {if  $objCategory->subpermision[i][2]==1} checked="checked"{/if}
            /></td>
            <td align="center">
			  <input type="checkbox" name="fix{$no[i]}" value="1"  id="fix{$no[i]}"
              onclick="docheck(fix{$no[i]},{$no[i]})"
                {if  $objCategory->subpermision[i][3]==1} checked="checked"{/if}
              />
			</td>
            <td align="center"><input type="checkbox" name="topic{$no[i]}" id="topic{$no[i]}" value="1" 
            onclick="docheck(topic{$no[i]},{$no[i]})" id="topic{$no[i]}"
              {if  $objCategory->subpermision[i][4]==1} checked="checked"{/if}
             />            
          </td>
                		 <td align="center">
                 <button name="{$no[i]}" id="login" type="submit" value="Lưu" style="font-size:12px; font-weight:bold; background:url(images/login_bt.jpg) no-repeat left 1px;border:none;
                 width:70px;height: 25px;margin:  0px;border: none;padding: 0px;
                 "  >Lưu</button>         
                         
              
                		 </td>
           	      </tr>
      	{/section}
      
    </table>
    </form>

{/if}
