<!--JAVASCRIPT-->
{literal}

<script language="javascript">
function check()
{
    rs=window.confirm("Ban that su muon xoa ?");
    if(rs==true)
        return true;
    else 
        return false;
}
</script>
<script src="{/literal}{$js_path}{literal}/jquery.tooltip.execute.js" type="text/javascript"></script>
<script src="j{/literal}{$js_path}{literal}/jquery.tooltip.v.1.1.js" type="text/javascript"></script>
{/literal}

<!--CSS-->
<link href="{$css_path}/simpletooltip.css" rel="stylesheet" type="text/css" charset="utf-8" />
<link href="{$css_path}/admin_image.css" rel="stylesheet" type="text/css" charset="utf-8" />
<!--END CEE-->

<div class="admin_image">
    <div class="headerForm">
        {$name_category}
    </div>
    <div class="admin_image_name_menu">
        <div class="admin_image_name_menu_item">
            <a href="{$linkList}">
               Danh s&#225;ch  
            </a>
            |
            <a href="{$linkAdd}">
              Th&#234;m m&#7899;i
            </a>
        </div>
    </div>
    <div class="admin_image_message">
        {$strMessage}
    </div>
    <div class="admin_image_form">
         {include file="$admin_news_form"}
    </div>
</div>

{$temp}