  
{literal}
<style type="text/css">
	.contact_fiel{ 
		font-weight:bold;
		font-size:12px;
		background-color:#D9E7FF;
	}
	
	.contact_value{
		font-size:12px;
	}
</style>
{/literal}
<form name="frm" id="frm" method="post" action="">
    <input name="post" type="hidden" value="post" />
 
{literal}
<style type="text/css">
	.contact_fiel{ 
		font-weight:bold;
		font-size:12px;
		background-color:#D9E7FF;
	}
	
	.contact_value{
		font-size:12px;
	}
</style> 

<script language="javascript">
        function check()
        {
        sao=window.confirm("Do You want to delete ?");
        if(sao==true)
        return true;
        else return false;
        }
        function ClickToURL(linkVal)
        {
        	if (linkVal != 0)
            {
        	    // alert(frm.sumhd14.value);
                document.location=linkVal;
                }
        }
//-->
    function onvisible()
    {
        frm.txtuser_login_profile2.value="";
    }
    onload=onvisible();
    function deconfirm(){
if(confirm("co muon xoa khong"))
{
   return true;   
}
return false;

}

</script>
{/literal}

<table width="100%"  border="0">
   <tr align="left">
    <td>
      <a  class="linkAddNews" href="admin.php?3nss=user">
        Danh sách thành viên    </a>
        |
          <a  class="linkAddNews" href="admin.php?3nss=user&type=add">
        Thêm người dùng
        </a>
    </td>
   </tr>
</table>
{ if !isset($type) ||($type!='edit' && $type !='add') }
{literal}
<script language="javascript" src="js/jquery.js" type="text/javascript"></script>

{/literal}
<form  action="" method="post" name="frm_cb">
  <table width="100%"  style="margin-left:25px; border:1px solid #CCCCCC;">
   
   
  </table>  
  </form>
<br />
<form name="frm"  method="post" id="frm"> 
    <table cellpadding="4" style="margin-left:25px; border:1px solid #CCCCCC;"  width="100%" border="0" cellspacing="2" >
        <tr align="center">
            <td width="10" class="contact_fiel" align="center">Stt.</td>
            <td width="150" class="contact_fiel">Họ và tên</td>
            <td  width="150" class="contact_fiel">Tên đăng nhập</td>
            <td width="100" class="contact_fiel">Thời gian đăng nhập cuối</td>
            <td width="50" class="contact_fiel">Tình trạng</td>
            <td width="100" class="contact_fiel">Ngày cập nhật</td>
            <td width="100" class="contact_fiel">Phân quyền</td>
            <td width="100" class="contact_fiel">Reset tài khoản</td>
            <td width="150" class="contact_fiel" align="center">Chức năng</td>
        </tr>
        {section name=i loop=$objUser->accountId}
        <tr {$status_bg[i]} class="contact_value" onmouseover="active(this,'#FFEEBB')" onmouseout="deactive(this)">
            <td >{$no[i]}</td>
            <td >{$objUser->fullname[i]}</td>
            <td >{$objUser->username[i]}</td>
            <td >{$objUser->date_last_login[i]}</td>
            <td>  <a href="{$linki[i]}&status=active&active={$objUser->status[i]}"
					 onMouseOver="stm( Text[18],Style[12])" onMouseOut="htm()"
					><img src="images/{$status_img[i]}" width="16" height="16" border="0"    /></a></td>
            <td >{$objUser->date_updated[i]}</td>
            <td > <a href="admin.php?3nss=permsion&id={$objUser->accountId[i]}"  >Phân quyền</a></td>
            <td >Reset tài khoản</td>
            <td>
             <table width="100%">
                <tr>
                 <td width="25%">
                   {if $objUserManager->status[i]!="1"}
                    <input type="checkbox" name="chkid[]" id="chkid" value="{$objUserManager->user_id[i]}" onClick="docheckone();" />               
               {else}
                  &nbsp;        
                </span>
               {/if}
                 </td>
                 <td width="30%">
                
                  
             
                 </td>
                 <td width="30%">
                     {if $objUserManager->status[i]!="1"}
                                      
                                 
                    <a href="{$linki[i]}&link=del" onclick=" return  deconfirm()" 	 onMouseOver="stm( Text[16],Style[12])" onMouseOut="htm()" >Xoa</a>
               
                {else}
                
                  &nbsp;     
               
                {/if}
             </td><td width="30%">
                    <a href="{$linki[i]}&type=edit"  onMouseOver="stm(Text[17],Style[12])" onMouseOut="htm()" >Edit</a>
            
                 </td>
              
             </table>   
            </td>
        </tr>
      	{/section}
    <tr>
     <td colspan="9" align="center">  {$query}
    {$pages}</td>
    </tr> 
    </table>
  {/if}
</form>


  { if isset($type) and ($type=='edit'or $type =='add') }
{literal}
<style>
.error {
	color:#f30
}
</style>
<script type="text/javascript" src="js/jquery.js"></script>
 <script language="javascript">
function CheckEmail(stringIn)
{
	var re = /^([A-Za-z0-9\_\-]+\.)*[A-Za-z0-9\_\-]+@[A-Za-z0-9\_\-]+(\.[A-Za-z0-9\_\-]+)+$/;
	if ( stringIn.search(re) == -1 )
	{
		return false;
	}
	else
	{
		return true;
	}
}


 function resetfrm()
 {
        
           document.getElementById("username").value="";
          var pass=document.getElementById("txtpassword1").value="";
          var repass=document.getElementById("txtpassword2").value="";
          var email=document.getElementById("email").value="";
 }
  
	function doSubmit()
    {    
          pass=document.getElementById("txtpassword1").value;
          user=document.getElementById("username").value;
          repass=document.getElementById("txtpassword1").value;
         email=document.getElementById("email").value
          var filter= /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.([a-z]){2,4})$/;
          document.getElementById("usernameResult").innerHTML="";
          document.getElementById("validateRePassword").innerHTML="";
          document.getElementById("validateRePassword").innerHTML="";
          document.getElementById("emailResult").innerHTML="";
		  if(user=="")
          {
             document.getElementById("username").focus();
            document.getElementById("usernameResult").innerHTML="<span style='color:#f00; font-size:12px;'>Tên đăng nhập phải dài hơn 6 ký tự</span>";
            return false;
          }
           if(user.indexOf('<')!=-1||user.indexOf('>')!=-1)
           {
              document.getElementById("username").focus();
              document.getElementById("usernameResult").innerHTML="<span style='color:#f00; font-size:12px;'>Tên đăng nhập không có ky tự Unicode</span>";
            return false;
           }
           if(pass=="")
           {
                 document.getElementById("txtpassword1").focus();
              document.getElementById("validateRePassword").innerHTML="<span style='color:#f00; font-size:12px;'>Mật khẩu không để trống</span>"; 
              return false;
           }
            if(pass.indexOf("<")!=-1||pass.indexOf('>')!=-1)
           {
                 document.getElementById("txtpassword1").focus();
              document.getElementById("validateRePassword").innerHTML="<span style='color:#f00; font-size:12px;'>Mật khẩu không không có ký tự unicode</span>"; 
              return false;
           }
           if(repass=="")
           {
              document.getElementById("validateRePassword").innerHTML="<span style='color:#f00; font-size:12px;'>Mật khẩu xác nhận không để trống</span>";
              document.getElementById("txtpassword2").focus();
              return false;
           }
           if(repass.indexOf(">")!=-1||repass.indexOf("<")!=-1)
           {
              document.getElementById("validateRePassword").innerHTML="<span style='color:#f00; font-size:12px;'>Mật khẩu xác nhận không có ký tự Unicode</span>";
              document.getElementById("txtpassword2").focus();
              return false;
           }
           if(pass!=repass)
           {
             document.getElementById("validateRePassword").innerHTML="<span style='color:#f00; font-size:12px;'>Mật khẩu xác nhận không đúng</span>";
            document.getElementById("txtpassword2").focus();        
            return false;
           }
             if(email=="")
           {
              document.getElementById("emailResult").innerHTML="<span style='color:#f00; font-size:12px;'>Email không để trống</span>";
              document.getElementById("email").focus();
              return false;
           }
           if(CheckEmail(email))
           {   
                document.getElementById("emailResult").innerHTML="<span style='color:#f00; font-size:12px;'>Xin nhập email</span>";
              document.getElementById("email").focus();
              return false;
           }
          return true;
	}
    //end script
</script>
{/literal}	
  
 
<form id="frmRegisterUser" name="frmRegisterUser" method="POST" 
            onsubmit="return doSubmit();">
              <input name="registerAction" value="registerAction" type="hidden" />
        	<input name="session_id" value="<?=session_id()?> " type="hidden" />
<table width="100%" border="0" cellspacing="2" class="shopping_Register"
cellpadding="4" style="margin-left:25px; border:1px solid #CCCCCC;">

  <tr >
    <td colspan="3"><H2>
    {if $type=="add"}
    THÊM NGƯỜI DÙNG
    {/if}
    {if $type=="edit"}
    CẬP NHẬT THÔNG TIN NGƯỜI DÙNG
    {/if}
    </H2></td>
  </tr>
  
  <tr  style="text-align:left;" >
    <td width="30%"> loại người dùng</td>
    <td>
      <label>
     {$dllType}
      </label></td>
    <td>&nbsp;</td>
  </tr>
  <tr  style="text-align:left;" >
    <td width="30%"> Tên đăng nhập</td>
    <td>
     
	  <input id="username" name="username" size="32" maxlength="32" class="border_green" type="text" value="{$objUserDetal->username[0]}"
             
   {if isset($type)&& $type =="edit" }
 {if isset($objUserDetal->username[0])}
              disabled="disabled">
              {/if}</td>
    <td>  	<span style="display: none;" id="usernameLoading"><img src="images/indicator.gif" alt="Ajax Indicator"></span>
	<span id="usernameResult"></span></td>
  </tr>
     
   {/if}
   <TR  class="form-field" style="text-align:left;">
  <td>  Mật khẩu:  </td>
  <TD>
<input id="txtpassword1" name="txtpassword1" size="32" maxlength="32" class="border_green" type="password">  </TD>
  <td>

     <span id="validatePassword" style=" background-color:#FFF; color:red; border:0px;"></span>  </td>
  </TR>
  <tr class="form-field" style="text-align:left;">
    <td>Xác nhận mật khẩu</td>
    <td>
				        <input id="txtpassword2" name="txtpassword2" size="32" maxlength="32" class="border_green" type="password">        			  </td>
    <td>
   <span id="validateRePassword" style=" background-color:#FFF; color:red; border:0px;"></span>
    </td>
  </tr>
  
  
  
  <tr class="form-field" style="text-align:left;">
    <td>Họ tên :</td>
    <td>
        				<input id="txtFullName" name="txtFullName" size="32" value="{$objUserDetal->fullname[0]}" class="border_green" type="text">        			 </td>
    <td>   <input type="text" name="txtnamecontact2" id="txtnamecontact2" style="width:200px; background-color:#FFF; color:red; border:0px;" disabled="disabled" /></td>
  </tr>
   <tr class="form-field" style="text-align:left;">
    <td width="19%">Email:</td>
    <td width="23%">
    
	  <input id="email" name="email" size="32" maxlength="32" class="border_green" type="text" value="{$objUserDetal->email[0]}"
              {if isset($objUserDetal->email[0])}
              disabled="disabled"
              {/if}
                        >    	</td>
    <td width="58%"> 
   	<span style="display: none;" id="emailLoading"><img src="images/indicator.gif" alt="Ajax Indicator"></span>
	<span id="emailResult"></span>
    </td>
  </tr>
  
   <tr class="form-field" style="text-align:left;">
    <td width="19%">Phone:</td>
    <td width="23%">
    
	  <input id="txtuser_phone" name="txtuser_phone" size="32" maxlength="32" class="border_green" type="text" value="{$objUserDetal->phone[0]}"
           
                        >    	</td>
    <td width="58%"> 
    <input name="txtuser_login_" type="text" disabled="disabled" id="txtuser_login_" style="width:200px; background-color:#FFF; color:red; border:0px;" value="{$messageSuccess}" />     </td>
  </tr>
  <tr class="form-field" style="text-align:left;">
    <td width="19%">YahooID:</td>
    <td width="23%">
	  <input id="txtuser_yahoo" name="txtuser_yahoo" size="32" maxlength="32" class="border_green" type="text" value="{$objUserDetal->nick_yahoo[0]}"
             
                        >    	</td>
    <td width="58%"> 
    <input name="txtuser_login" type="text" disabled="disabled" id="txtuser_login" style="width:200px; background-color:#FFF; color:red; border:0px;" value="{$messageSuccess}" />     </td>
  </tr>
  <tr class="form-field" style="text-align:left;">
    <td width="19%">SkyID:</td>
    <td width="23%">
	  <input id="txtuser_sky" name="txtuser_sky" size="32" maxlength="32" class="border_green" type="text" value="{$objUserDetal->nick_skype[0]}"> 
         	</td>
    <td width="58%"> 
    <input name="txtuse" type="text" disabled="disabled" id="txtuser_2" style="width:200px; background-color:#FFF; color:red; border:0px;" value="{$messageSuccess}" />     </td>
  </tr>
  <tr class="form-field" style="text-align:left;">
    <td>Kích hoạt:</td>
    <td>
     <input  type="checkbox" value="1" name="status" {if $objUserDetal->status[0]=="1"}
      checked="checked"
     {/if}
     />    			       			 
    </td>
    <td>   <input type="text" name="txtphonecontact2" id="txtphonecontact2" style="width:200px; background-color:#FFF; color:#F00; border:0px;" disabled="disabled" /></td>
  </tr>
 <tr>
   <td colspan="3">
   	<input name="save" id="save" class="thisButton" type="submit" 
       {if $type=="add"}
       value="Lưu" 
       {/if}
      {if $type=="edit"}
       value="Cập nhật"
      {/if}
       style=" border:0px; height:25px; color:#666; font-weight:bold; font-size:11px;"/>
                    
        	          <input type="reset"  onclick="resetfrm();" name="reset" class="thisButton" id="reset" value="Nhập lại" style=" border:0px; height:25px; color:#666; font-weight:bold; font-size:11px;" />
   </td>
  </Tr>
  
</table>
</form>
{$message}
{$messageExit}
{/if}