<!--JAVASCRIPT-->
{literal}
<script language="javascript">
function check()
{
    rs=window.confirm("Ban that su muon xoa ?");
    if(rs==true)
        return true;
    else 
        return false;
}
</script>
{/literal}

<!--CSS-->
<link href="css/admin/admin_image.css" rel="stylesheet" type="text/css" charset="utf-8" />
<!--END CEE-->

<div class="admin_image">
    <div class="admin_image_name_cate">{$name_category}</div>
    <div class="admin_image_name_menu">
    
    {if $array[0]==1}
        <div class="admin_image_name_menu_item">
            <a href="{$linkList}">
                <img src="images/admin/content.png" border="0" />
                <br />Danh s&#225;ch
            </a>
        </div>
     {/if}
     {if $array[1]==1}   
        <div class="admin_image_name_menu_item">
            <a href="{$linkAdd}">
                <img src="images/admin/add.png" border="0" />
                <br />Th&#234;m m&#7899;i
            </a>
        </div>
    </div>
    {/if}
    {if !isset($images) || $images==""}
    <div class="admin_image_message">
        {$strMessage}
    </div>
    <div class="admin_image_form">
         {include file="$admin_product_form"}
    </div>
    {/if}
<br />
<br />
<div>&nbsp;</div>
{if isset($images)&& $images!=""}

  
     <div class="admin_image_form">
         {include file="$admin_images_product_form"}
     </div>
         <div class="admin_image_form">
         {include file="$admin_images_product_action_form"}
     </div>
{/if}
</div>

{$temp}