<label class="welcom">Xin ch&#224;o {$user_admin}</label>
<br />
<a href="admin.php?3nss=change.pass" class="linkmenu">&#272;&#7893;i m&#7853;t kh&#7849;u</a>
| 
<a href="admin.php?view=logout" class="linkmenu">Logout</a>