<div class="divFunctions">
      
     <div class="divFunctionsItem">
        
        <div class="divFunctionsItemHeader"><img src="images/4.jpg" />   
        <a href="admin.php?3nss=addChildCatogory&c_id={$objChildCatogory->category_id[i]}&temp={$objChildCatogory->css_id[i]}">
        {$objChildCatogory->category[i]}<a>  
        </a></div>
          
       
           <div class="divFunctionsItemHeader"><img src="images/4.jpg" />   
       
        </div>       
    </div>
     <div class="divFunctionsItem">
         <div class="divFunctionsItemHeader"><img src="images/4.jpg" /> <a href="admin.php?func=addChildCatogory&c_id=&temp=hinhanh " >Thư viện ảnh</a></div>
           <div class="divFunctionsItemList"><img src="images/admin.jpg" alt=""  />&nbsp;<a href="admin.php?func=images">Cập nhật thư viện ảnh</a></div> 
     </div>
     <div class="divFunctionsItem">
        <div class="divFunctionsItemHeader"><img src="images/4.jpg" /> Quản trị thông tin chung</div>
           
          <div class="divFunctionsItemList"><img src="images/admin.jpg" alt=""  />&nbsp;<a href="admin.php?3nss=footer">Cập nhật footer</a></div> 
        
         <div class="divFunctionsItemList"><img src="images/admin.jpg" alt=""  />&nbsp;<a href="admin.php?3nss=website">Quản lý liên kết</a></div>
                      &nbsp;
        <div class="divFunctionsItemList"><img src="images/admin.jpg" alt=""  />&nbsp;<a href="admin.php?3nss=adv">Đăng ký quảng cáo</a></div>
        
          <div class="divFunctionsItemList"><img src="images/admin.jpg" alt=""  />&nbsp;<a href="admin.php?3nss=news">Quản lý đánh giá</a></div>&nbsp;
                       
    </div>
     
</div>

