
{literal}
<style type="text/css">
	.contact_fiel{ 
		font-weight:bold;
		font-size:12px;
		background-color:#D9E7FF;
	}
	
	.contact_value{
		font-size:12px;
	}
</style> 

  <script language="javascript" src="{/literal}{$js}{literal}/change_position_type_cate.js" type="text/javascript"></script>
<script language="javascript">
        function check()
        {
        sao=window.confirm("Do You want to move this item to trash?");
        if(sao==true)
        return true;
        else return false;
        }
        function do_realdelete()
        {
            sao=window.confirm("Do You want delete?");
        if(sao==true)
        return true;
        else return false;
        }
        function ClickToURL(linkVal)
        {
        	if (linkVal != 0)
            {
        	    // alert(frm.sumhd14.value);
                document.location=linkVal;
                }
        }
		
//-->  
     function check_template_exist(template)
     {
          
           var isExist = true;
            $.ajax({
            async: false,
            type: "POST",
	       url: "include/admin/admin_product_check_temlate_typecategory.php",
	       data: "template="+template,
	       success: function(msg){
	       isExist = msg;
          
	}
    });

    return isExist;
     }
</script>
<script>
  function onsubmitfrm()
{                                    
     
        tpl= document.getElementById("txtTemp").value;                              
        document.getElementById("txttemperror").style.visibility = "hidden";
        var flag=true;
             if(tpl.length==0||tpl.length==1)
         {
            document.getElementById('txttemperror').innerHTML ="T&#234;n chuy&#234;n m&#7909;c kh&#244;ng &#273;&#432;&#7907;c &#273;&#7875; tr&#7889;ng";
            document.getElementById("txttemperror").style.visibility = "visible";
            flag= false;
         }else
         {
            document.getElementById('txttemperror').innerHTML ="";
            document.getElementById("txttemperror").style.visibility = "hidden";
         }
                     
        
		image_small=document.getElementById('tmp_icon').value;       
        document.getElementById('txtimage_thumerror').value= '';
            if(image_small!="")
		{
    if(image_small.lastIndexOf(".jpg")==-1&&image_small.lastIndexOf(".gif")==-1&&image_small.lastIndexOf(".png")==-1&&image_small.lastIndexOf(".jpeg")==-1
       &&image_small.lastIndexOf(".JPG")==-1&&image_small.lastIndexOf(".GIF")==-1&&image_small.lastIndexOf(".PNG")==-1&&image_small.lastIndexOf(".JPEG")==-1
      &&image_small.lastIndexOf(".bmp")==-1)
			  {
						document.getElementById('txtimage_thumerror').value= 'Chỉ nhập file hình ảnh';
						flag= false;
				}
	 
		}
     
     
        
	return flag;
		}
        	$( function() {
			$( '.checkAll' ).live( 'change', function() {
				$( '.cb-element' ).attr( 'checked', $( this ).is( ':checked' ) ? 'checked' : '' );
				$( this ).next().text( $( this ).is( ':checked' ) ? 'Uncheck All' : 'Check All' );
		          document.getElementById("btsave").value=1;
        	});
			$( '.invertSelection' ).live( 'click', function() {
			  document.getElementById("btsave").value=0;
				$( '.cb-element' ).each( function() {
					$( this ).attr( 'checked',$( this ).is( ':checked' ) ? '' : 'checked' );
				}).trigger( 'change' );
			});
			$( '.cb-element' ).live( 'change', function() {
				$( '.cb-element' ).length == $( '.cb-element:checked' ).length ? $( '.checkAll' ).attr( 'checked', 'checked' ).next().text( 'Uncheck All' ) : $( '.checkAll' ).attr( 'checked', '' ).next().text( 'Check All' );
			});
            ////
    	  $('tr[@class^=child-]').hide().children('td');

		});
  </script>
{/literal}
<form name="frm_pt" id="frm_pt" method="post" action="">

     <table width="100%" border="0" cellspacing="2" cellpadding="2">
        <tr>
            <td class="headerForm">
                {$headerTitle}
            </td>
        </tr>
        <tr>
            <td class="menuAdmin">
                    <form name="frm_p" id="frm_p" method="post" action="">
    
                        <div class="catalogAddHeadTitleMessageFunc">{$mess}</div>
                        <div class="catalogAddHeadTitleMenu">
                            <a  href="admin.php?3nss=categories">
                            Danh s&#225;ch
                            </a>
                            |
                               <a  href="admin.php?3nss=categories&type=add">
                               Th&#234;m m&#7899;i
                            </a>
                            
                        </div>
                          
                    </form>
            </td>
        </tr>
    
    </table>
{if !isset($type)or $type==""}    
    <form name="frm" id="frm" method="post" action="">

      
                                    <div id="paginate-top" class="paginatetop"></div>
                                    <div id="productcontent" class="productcontent"></div>
                                    <div id="paginate-bottom" class="paginatebottom"></div>
                                        {literal}
                                            <script type="text/javascript">
                                                var listNews={
                                                pages: [{/literal}{$scriptPagingNews}{literal}],
                                                selectedpage: 0 //set page shown by default (0=1st page)
                                                }
                                                var mybookinstance=new ajaxpageclass.createBook(listNews, "productcontent", ["paginate-top", "paginate-bottom"])
                                            </script>
                                        {/literal}
     
    </form>
{/if}

{if isset($type)&&($type=="edit"||$type=="add")}
<form id="frmAddCategory" name="frm_catogory" method="POST" 
 action="" onsubmit="return  onsubmitfrm();" enctype="multipart/form-data">
    <div class="catalogAdd">
         <fieldset>
            <legend>
                {if $type=="edit"}
                    Ch&#7881;nh s&#7917;a
                {else}
                    Th&#234;m m&#7899;i
                {/if}
            </legend>
         <div class="catalogAddContent">
             <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                  &nbsp;T&#234;n chuy&#234;n m&#7909;c :
                </div>
                <div class="catalogAddContentRight">
                <input type="text"  id="txtTemp" name="txtName" class="textName" value="{$objCategoryDetail->type[0]} " /> 
                 <div class="error" id="txttemperror" style="width:250px; background-color:#FFF; color:#F00; border:0px;visibility:hidden;">fsdfsd</div>
                </div>
            </div>
            <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
               Từ khóa :
                </div>
                <div class="catalogAddContentRight">
                      <textarea class="textAreaDes" id="txtkeyWord" name="txtkeyWord">{$objCategoryDetail->key_type[0]}</textarea>  
                </div>
            </div>
            <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                 Icon :
                </div>
                <div class="catalogAddContentRight">
                   <input type="file" name="tmp_icon"  id="tmp_icon"/>
                   {if isset($objCategoryDetail->icon[0])&& $objCategoryDetail->icon[0]!=""}
                   <img src="{$savefolder}/{$objCategoryDetail->icon[0]}" width="20" height="20" />
                   {/if}
                 <input type="text" name="txtimage_thumerror" id="txtimage_thumerror" style="width:200px; background-color:#FFF; color:#F00; border:0px;" disabled="disabled" />
                </div>
            </div>
            
            
              <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                 Kích hoạt:
                </div>
                <div class="catalogAddContentRight">
                  <input type="checkbox" name="status" value="1"   {if $objCategoryDetail->status[0]=="1"}   checked="checked"  {/if}/>
                </div>
            </div>
             <div class="catalogAddContentField">
                <div class="catalogAddContentLeft">
                   Template:
                </div>
                <div class="catalogAddContentRight">
                    
                     <span id="error"></span>
                     <select name="txtTemplate" id="template">
                     {$cb}
                     </select>
                </div>
           </div>       
         <div class="catalogAddContentField">
            <div class="catalogAddContentLeft">
                &nbsp;
            </div>
            <div class="catalogAddContentRight">
                <input type="submit" {if $type=="add"}  name="btn"   value="Tạo mới"{/if}
                {if $type=="edit"}  name="action"   value="Thay đổi"{/if}  
                 />
             </div>
         </div> 
         </fieldset>
</form>

{/if}