
{literal}
  <script language="javascript">
    function Settype(u) { 
        var isExist = "";
        $.ajax({
            async: false,
            type: "POST",
    	url: "include/admin/admin_set_type.php",
    	data: "idtype="+u,
    	success: function(msg){
    	     isExist = msg;     
      
	}
    });
    if(isExist!="")
    {
        return true;
    }
    else
    {
        alert("Error");
        return false;
    } 
     
    return false;
    }

    </script>  
{/literal}      

WEBSITE: {$cb_site}  
&nbsp;
{section name=i loop=$cs_type_category->type_categoryId}
    <img src="uploads/icon/{$cs_type_category->icon[i]}" />
    <a href="?3nss={$cs_type_category->template[i]}" 
        onclick="return Settype({$cs_type_category->type_categoryId[i]})">
            	{$cs_type_category->type[i]}
    </a>
    &nbsp;
{/section}
     <img src="uploads/icon/{$cs_type_category->icon[0]}" />
     <a href="?3nss=clientcontact"> 
        Li&#234;n h&#7879;
    </a>
     
    
   