<link href="{$server}/css/client/dinh_duong_cho_tre.css" rel="stylesheet" type="text/css" />
<div class="dinh_duong_cho_tre">
	<div class="ddct_tieu_de">
		<div class="ddct_td_img">
		<img src="{$server}/images/icon/dinh-duong-cho-tre/icon1.png" />					
        </div>
		<div class="ddct_td_text"><img src="{$server}/images/icon/dinh-duong-cho-tre/dinh duong cho be.png" />
        </div>
  	</div>
	<div class="tb_noi_dung">
    <!--them noi dung o day-->
        {$cs_dinh_duong_cho_be->long_description[0]}
	</div>
	<div class="lich_an_uong">
			<div class="lau_tieu_de">
				<div class="lau_td_icon">
					<img src="{$server}/images/icon/dinh-duong-cho-tre/icon2.png" />					
                </div>
				<div class="lau_td_text">
					{$cs_bang_dinh_duong_news} {if $cs_bang_dinh_duong_link_down!='' }<a href="{$server}/uploads/news/files/{$cs_bang_dinh_duong_link_down}"><img src="{$server}/images/client/taive.png" width="30px" height="30px"/></a>{/if}	
                </div>
			</div>
			
            <div class="content">
            {$cs_bang_dinh_duong_mota}
            </div>
			
            
			<div class="cac_che_do_an_uong_khac">
				<div class="cdddk_tieu_de">
					<div class="cdddk_td_icon"></div>
					<div class="cdddk_td_text">C&#225;c ch&#7871; &#273;&#7897; dinh d&#432;&#7905;ng kh&#225;c </div>
				</div>
               
              
                 {section name=o loop=$cs_ds_chedodd->id}
				<div class="cdddk_noi_dung">
                	<div class="cdddk_nd_icon"></div>
					<div class="cdddk_nd_text">
                        <a href="{$server}/{$page_index}/{$key}/{$cs_ds_chedodd->page_title[o]}">{$cs_ds_chedodd->news[o]} </a>
                        {if $cs_ds_chedodd->url[o]!='' }<a href="{$server}/uploads/news/files/{$cs_ds_chedodd->url[o]}"><img src="{$server}/images/client/taive.png" width="20px" height="20px" /></a>{/if}
                     </div>
				
                </div>                
                 {/section}
              
			</div>
		</div>
</div>