
                    <div class="ft_menu2" style="#margin-bottom:0px;#right:30px">
 
                   
	<div class="ft_menu">
		<div class="ft_len_dau_trang">
			<div class="ft_len_dau_trang1"></div>
		</div>

		<a href="{$server}/trang-chu/chim-canh-cut/" class="{$status_active_trang_chu}"><div class="ft_trang_chu1"><div class="ft_trang_chu"></div></div></a>
	</div>
</div> 