<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>chim canh cut</title>
<!--[if IE 6]>
<script src="../js/client/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
<script>
  /* EXAMPLE */

 
   DD_belatedPNG.fix('#header #hd_menu .hd_space_top .sp_t_hover1 #sp_t_trang_chu,#header #hd_menu .hd_space_top .sp_t_hover #sp_t_moi_ngay_lam_gi,#header #hd_menu .hd_space_top .sp_t_hover #sp_t_lop_hoc,#header #hd_menu .hd_space_top .sp_t_hover #sp_t_dinh_duong_cho_be,#header #hd_menu .hd_space_top .sp_t_hover #sp_t_nhap_hoc,#header #hd_menu .hd_space_top .sp_t_hover #sp_t_thu_vien_anh,#header #hd_menu .hd_space_top .sp_t_hover #sp_t_lien_he,#body_left .nen_duoi_left_anh_cua_be,#body_left .nen_duoi_left_anh_cua_be .l_acb_tieu_de,#body_left .nen_duoi_left_anh_cua_be .l_acb_tieu_de,#body_left .sinh_nhat_be .sn_picture,#body_left .sinh_nhat_be .sn_header,#body_left .sinh_nhat_be  .sn_footer,#body_left .sinh_nhat_be .sn_header1 .sn_hd_tieu_de,#body_left .sinh_nhat_be .sn_header1,.ft_menu,.ft_menu .ft_len_dau_trang1,.ft_menu .ft_trang_chu,#header #hd_menu .hd_nav ul li1,#header #hd_menu .hd_space_top .sp_t_hover #sp_t_video_online,#body_left  .l_acb_tieu_de,#body_left .nen_duoi_left_anh_cua_be .khung_anh_left .khung_anh_left1,img'); 
  /* string argument can be any CSS selector */
  /* .png_bg example is unnecessary */
  /* change it to what suits you! */
</script>
<![endif]-->
<link href="{$server}/css/client/dinh_duong_cho_tre.css" rel="stylesheet" type="text/css" />
<link href="{$server}/css/client/trang_chu.css" rel="stylesheet" type="text/css" />
<link href="{$server}/css/client/client.css" rel="stylesheet" type="text/css" />
<link href="{$server}/css/client/moi_ngay_lam_gi.css" rel="stylesheet" type="text/css" />
<script src="{$server}/js/client/jquery.js" type="text/javascript"></script>
{literal}
<script language="javascript">
	
	$(document).ready(function(){
		$('#sp_t_moi_ngay_lam_gi').hide();
		$('#sp_t_lop_hoc').hide();
		$('#sp_t_dinh_duong_cho_be').hide();
		$('#sp_t_nhap_hoc').hide();
		$('#sp_t_thu_vien_anh').hide();
		$('#sp_t_video_online').hide();
		$('#sp_t_lien_he').hide();
		
		$('.ft_len_dau_trang').click(function(){
		$('html,body').animate({scrollTop:0},500);
			});
	});
	function show_trang_chu()
		{
			$('#sp_t_trang_chu').show();
		}
	function hide_trang_chu()
		{
			$('#sp_t_trang_chu').hide();
		}
		
		
	function show_moi_ngay_lam_gi()
		{
			$('#sp_t_moi_ngay_lam_gi').show();
		}
	function hide_moi_ngay_lam_gi()
		{
			$('#sp_t_moi_ngay_lam_gi').hide();
		}
		
		
		
		function show_lop_hoc()
		{
			$('#sp_t_lop_hoc').show();
		}
	function hide_lop_hoc()
		{
			$('#sp_t_lop_hoc').hide();
		}
		
		
		
		function show_dinh_duong_cho_be()
		{
			$('#sp_t_dinh_duong_cho_be').show();
		}
	function hide_dinh_duong_cho_be()
		{
			$('#sp_t_dinh_duong_cho_be').hide();
		}
		
		
		
		function show_nhap_hoc()
		{
			$('#sp_t_nhap_hoc').show();
		}
	function hide_nhap_hoc()
		{
			$('#sp_t_nhap_hoc').hide();
		}
		
		
		
		function show_thu_vien_anh()
		{
			$('#sp_t_thu_vien_anh').show();
		}
	function hide_thu_vien_anh()
		{
			$('#sp_t_thu_vien_anh').hide();
		}
		
		
		
	function show_video_online()
		{
			$('#sp_t_video_online').show();
		}
	function hide_video_online()
		{
			$('#sp_t_video_online').hide();
		}
		
		
		
		function show_lien_he()
		{
			$('#sp_t_lien_he').show();
		}
	function hide_lien_he()
		{
			$('#sp_t_lien_he').hide();
		}
		
</script>
{/literal}
</head>
<body>

	<div id="wrapper">
		<div id="header">
			<div id="hd_top_br"></div>
			<div class="hd_menu1">
			<div id="hd_menu">
				<div class="hd_space_top">
					<div class="sp_t_hover1"><div id="sp_t_trang_chu"><div class="mn_text"></div></div></div>
					<div class="sp_t_hover"><div id="sp_t_moi_ngay_lam_gi"><div class="mn_text"></div></div></div>

					<div class="sp_t_hover"><div id="sp_t_lop_hoc"><div class="mn_text"></div></div></div>

					<div class="sp_t_hover"><div id="sp_t_dinh_duong_cho_be"><div class="mn_text"></div></div></div>
					<div class="sp_t_hover"><div id="sp_t_nhap_hoc"><div class="mn_text"></div></div></div>
					<div class="sp_t_hover"><div id="sp_t_thu_vien_anh"> <div class="mn_text">  </div></div></div>
					<div class="sp_t_hover"><div id="sp_t_video_online"><div class="mn_text"></div></div></div>
					<div class="sp_t_hover"><div id="sp_t_lien_he"><div class="mn_text"></div>
					</div></div>

				</div>
				<div class="hd_nav1">

				<div class="hd_nav">
					<ul>
						<li1><a href="{$server}/trang-chu/chim-canh-cut/" class="{$status_active_trang_chu}"><img src="{$server}/images/icon/hinh_trang_chu.png"  /></a></li1>
						<li1><a href="{$server}/moi-ngay-lam-gi/chim-canh-cut/" class="{$status_active_moi_ngay_lam_gi}" onmousemove="show_moi_ngay_lam_gi()" onmouseout="hide_moi_ngay_lam_gi()" ><img src="{$server}/images/icon/hinh moi ngay lam gi.png"  /></a></li1>
						<li1><a href="{$server}/lop-hoc/chim-canh-cut/" onmousemove="show_lop_hoc()" onmouseout="hide_lop_hoc()"><img src="{$server}/images/icon/hinh lop hoc.png"  /></a></li1>
						<li1><a href="dinh_duong_cho_tre.html" onmousemove="show_dinh_duong_cho_be()" onmouseout="hide_dinh_duong_cho_be()"><img src="{$server}/images/icon/hinh dinh duong cho tre.png"   /></a></li1>

						<li1><a href="nhap_hoc.html" onmousemove="show_nhap_hoc()" onmouseout="hide_nhap_hoc()" ><img src="{$server}/images/icon/hinh nhap hoc.png"  /></a></li1>
						<li1><a href="thu_vien_anh.html" onmousemove="show_thu_vien_anh()" onmouseout="hide_thu_vien_anh()"><img src="{$server}/images/icon/hinh thu vien anh.png"   /></a></li1>
						<li1><a href="video_online.html" onmousemove="show_video_online()" onmouseout="hide_video_online()"><img src="{$server}/images/video_online/video online.png"  /></a></li1>

						<li1><a href="thong_tin_lien_he.html" onmousemove="show_lien_he()" onmouseout="hide_lien_he()"><img src="{$server}/images/icon/hinh lien he.png"  /></a></li1>
					</ul>
				</div>
				</div>
			</div>

		      </div>
        </div>
      <div class="wrapper1">
	<div id="body_main">
	  <div id="body_left">
          <div class="nen_duoi_left_anh_cua_be1">
            <div class="nen_duoi_left_anh_cua_be">
    				<div class="l_acb_tieu_de"></div>
                    
        					<div class="l_acb_nd_button_len">

        						<a href="#"><img src="{$server}/images/icon/len.png" /></a>
        					</div>
                    <div class="l_acb_noi_dung1">
        				<div class="l_acb_noi_dung">
        					<div class="l_acb_nd_picture1">
        						<div class="l_acb_nd_picture">
        							<a href="#"><img src="{$server}/images/trang_chu/hinh_tre.gif" width="191" /></a>
        						</div>
        					</div>

    				    </div>
                    </div>
        					<div class="l_acb_button_xuong">
        						 <a href="#"><img src="{$server}/images/icon/xuong.png" /></a>
        					</div>
        			<div class="khung_anh_left"><div class="khung_anh_left1"></div></div>
    		</div>	
        </div>
		<div class="sinh_nhat_be">
        
			<div class="sn_header">

				<div class="sn_header1">
		  			<div class="sn_hd_tieu_de"></div>
				</div>
		  	</div>
            
			<div class="sn_picture">
			  <div class="sn_hinh_cua_be">
				  <div class="sn_day_la_hinh_anh" style="z-index:0"><a href="#"><img src="{$server}/images/hinh-tre-con/Tien.jpg" height="200px" width="200px" /></a></div>
		      </div>
			</div>

			<div class="sn_footer1">
				<div class="sn_footer"><img src="{$server}/images/trang_chu/khung-anh-1.png" /></div>
			</div>
		  
		</div> 
  	  </div>
	  <div id="body_content">
      
	  	<!--them body vao day-->  
          {include file="$body_main"}
      </div>
      
	<div class="ft_menu1">
			<div class="ft_menu2">
				<div class="ft_menu">
					<div class="ft_len_dau_trang">
						<div class="ft_len_dau_trang1"></div>
					</div>

					<a href="{$server}/trang-chu/chim-canh-cut/" class="{$status_active_trang_chu}"><div class="ft_trang_chu1"><div class="ft_trang_chu"></div></div></a>
				</div>
            </div> 
     </div>
    
	 <div class="vide1">
	 </div>
	</div>
     </div>

    <div id="footer">
    </div>

</div>
</body>
</html>
