
<script type="text/javascript" src="{$server}/js/client/test/slphoto.js"></script>
<link href="{$server}/css/client/ajaxpagination.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{$server}/js/client/scroll_xay_dung.js"></script>


<!--script load hinh anh sinh nhat be -->
    {literal}
    <script type="text/javascript">
	
	$(document).ready(function(){	
		$(".accordion h2:first").addClass("active");
		$(".accordion div.slided:not(:first)").hide();	
	 	$('#s1').cycle({
       		fx:     'scrollUp',
        	speed:  '500',
        	timeout: 3000,
   			pause: 1
    	});
		
	
	});	
	</script>
	{/literal}
 <!-- end -->
  
  
 <!--ANH CUA BE-->
 <div class="nen_duoi_left_anh_cua_be1">
    <div class="nen_duoi_left_anh_cua_be">
            
    	<div class="l_acb_tieu_de">
            <img src="{$server}/images/icon/anh_cua_be.png" />
        </div>

        <div class="l_acb_noi_dung1">
			
            <div class="l_acb_nd_button_len">
				<img src="{$server}/images/icon/len.png" id="btTopXD" />
			</div>
            
			<div class="l_acb_nd_picture" id="divContent">
                {$strContentHinhAnh}
            </div>
            
            <div class="l_acb_button_xuong" >
				 <img src="{$server}/images/icon/xuong.png" id="btBottomXD" /></a>
			</div>
			
        </div>

		<div class="khung_anh_left">
            <div class="khung_anh_left1"></div>
        </div>
              
	</div>	
</div>
<!--END ANH CUA BE-->


<!--SINH NHAT CUA BE--> 
<div class="sinh_nhat_be">


	<div class="sn_header">
		<div class="sn_header1">
  			<div class="sn_hd_tieu_de"></div>
            
		</div>
  	</div>
  
   	<div class="sn_picture" id="s">
        <div class="sn_hinh_cua_be" id="s1"> 
            {section name=i loop=$cs_news_ds_sn_be->id}
                <div class="sn_day_la_hinh_anh" style="z-index:0" >   
                    <a href="#">
                        <img src="{$server}/uploads/news/{$cs_news_ds_sn_be->small_image[i]}" height="200px" width="200px" />
                        <br />
                        <label>{$cs_news_ds_sn_be->news[i]} ({$cs_news_ds_sn_be->begin_date[i]|date_format:"%d/%m"})</label>
                    </a>
                </div>
            {/section}
        </div> 
	</div>

	<div class="sn_footer1">
		<div class="sn_footer" >
            <img src="{$server}/images/trang_chu/khung-anh-1.png"   />
        </div>
	</div>
  
</div>  
<!--END SINH NHAT CUA BE-->       
<!--THONG TIN GIAI TRI-->   
<div >
<a href="{$server}/trang-chu/giai-tri/danh-sach"> 
<img src="{$server}/images/trang_chu/trang-chu-3a_03.png" style="margin-left:20px;"/>
</a>

</div>
<!--endTHONG TIN GIAI TRI-->       
       
