<link href="{$server}/css/client/moi_ngay_lam_gi.css" rel="stylesheet" type="text/css" />
<link href="{$server}/css/client/lop_hoc_thien_than_nho.css" rel="stylesheet" type="text/css" />
<script src="{$server}/js/client/jsHinhAnhHoatDong.js"></script>
		<div class="lop_hoc">
				<div class="lh_tieu_de">
					<div class="lh_td_icon"></div>
					<div class="lh_td_text1">
						<div class="lh_td_text">
                            {$cs_category_lop->category[0]}
                        </div>
					</div>
				</div>
				<div class="hinh_lop_hoc">
                	<!--begin--->
                  {section name=i loop=$cs_client_news_s->id}
                    <div class="tva_nd_nd_data">
						<div class="tva_nd_nd_dt_picture"><div class="tva_nd_nd_dt_picture1"><a href="#"><img src="{$server}/uploads/news/{$cs_client_news_s->small_image[i]}" width="140px" height="119px"/></a>	</div>						
						</div>
						<div class="tva_nd_nd_dt_text">
							<div class="tva_nd_nd_dt_text1">
							<a href="#">{$cs_client_news_s->news[i]} </a>							</div>
						</div>   					
    				</div>
                  {/section}
                       <!--end--->                     
			</div>
            </div>
			<div class="hoat_dong_ngoai_khoa">
			<div class="hdnk_tieu_de">
				<div class="hdnk_td_icon"></div>
				<div class="hdnk_td_text">
					<div class="hdnk_td_t_image"><img src="{$server}/images/thienthannho/anhkgonggiancuabe.png" /></div>
				</div>
			</div>
            <div class="hdnk_hinh_anh" id="divHinhAnhHoatDong">
            
                {if count($obj_news_2hinh->id)==1}
                <div class="hdnk_ha_left_picture">
        			<div class="hdnk_picture">
        				<img src="{$server}/uploads/news/{$obj_news_2hinh->small_image[0]}" height="195px" width="275" />					</div>
        			<div class="hdnk_ha_text_chu_thich">{$obj_news_2hinh->news[0]}					</div>
        		</div>
                {/if}
                
                {if count($obj_news_2hinh->id)>1}
                <div class="hdnk_ha_left_picture">
        			<div class="hdnk_picture">
        				<img src="{$server}/uploads/news/{$obj_news_2hinh->small_image[0]}" height="195px" width="275" />					</div>
        			<div class="hdnk_ha_text_chu_thich">{$obj_news_2hinh->news[0]}					</div>
        		</div>
        		<div class="hdnk_ha_left_picture">
        			<div class="hdnk_picture">
        				<img src="{$server}/uploads/news/{$obj_news_2hinh->small_image[1]}" height="195px" width="275" />					</div>
        			<div class="hdnk_ha_text_chu_thich">{$obj_news_2hinh->news[1]}					</div>
        		</div>   
                {/if}
                
			</div>
            
            {if count($obj_news_2hinh->id)>2}
			<div class="hdnk_next_preview" id="divLinkPageHinhAnhHoatDong">			
            	<div class="hdnk_preview">
    		         <div class="preview_picture">
            				<input type="button" id="btPre" class="buttonChimCutTruoc" value="" name="btPre" onclick="fnLoadImage('{$active}',0,'2','divHinhAnhHoatDong','divLinkPageHinhAnhHoatDong','{$iCountImage}');"/>
                     </div>
        		</div>
        		<div class="hdnk_next">
        			<div class="next_picture">
                        <input type="button" id="btNext" class="buttonChimCutSau" value="" name="btNext" onclick="fnLoadImage('{$active}',2,'2','divHinhAnhHoatDong','divLinkPageHinhAnhHoatDong','{$iCountImage}');" /> 
        		    </div>
        		</div>
			</div>   
            {/if}        
			
			
		</div>
        
		<div class="danh_sach_lop_hoc">
			<div class="ds_tieu_de">
				<div class="ds_td_icon">
				</div>
				<div class="ds_td_text1">
					<div class="ds_td_text">
					</div>
				</div>
			</div>
		<!-- begin -->
            {section name=i loop=$cs_category_dslophoc->id}            
    			<div class="ds_noi_dung">
    				<div class="ds_link_danh_sach">
    					<div class="ds_link_icon">
    					</div>
    					<div class="ds_link_link"><a href="{$server}/{$page_index}/{$key_intro}/{$cs_category_dslophoc->page_title[i]}">{$cs_category_dslophoc->category[i]}</a> </div>
    				</div>    			
    			</div>
            {/section}
          <!--end-->
</div>