<link href="{$server}/css/client/moi_ngay_lam_gi.css" rel="stylesheet" type="text/css" />
<script src="{$server}/js/client/jsHinhAnhHoatDong.js"></script>
<div class="lop_hoc">
              
				<div class="lh_tieu_de">
					<div class="lh_td_icon"></div>
					<div class="lh_td_text1">
						<div class="lh_td_text"><img src="{$server}/images/thienthannho/lophocthienthannho.png" /></div>
					</div>
				</div>
				<div class="lh_table">
					<div class="lh_tb_tr" style="background: url({$server}/images/icon/br1.png);">
						<div class="lh_td_tieu_de_stt" style="font-weight:bold">STT
						</div>
						<div class="lh_td_ten">
							<div class="lh_td_t_ten_lop" style="font-weight:bold">T&#234;n L&#7899;p</div>
							<div class="lh_td_t_ten_gvcn" style="font-weight:bold">T&#234;n gi&#225;o vi&#234;n ch&#7911; nhi&#7879;m</div>
						      <div class="lh_td_t_ten_giao_vien_chu_nhiem" style="font-weight:bold">Th&#7901;i kh&#243;a bi&#7875;u </div>
						</div>
					</div>
                      {section name=i loop=$cs_category_dslophoc->id}   
					<div class="lh_tb_tr">
						<div class="lh_td_tieu_de_stt">{$stt[i]}
						</div>
						<div class="lh_td_ten">
							<div class="lh_td_t_ten_lop"><a href="{$server}/{$page_index}/{$key_intro}/{$cs_category_dslophoc->page_title[i]}" title="{$cs_category_dslophoc->category[i]}">{$cs_category_dslophoc->category[i]}</a> </div>
							<div class="lh_td_t_ten_gvcn">
							  <p>{$giaovien[i]}</p>							 
							</div>
                            <div class="lh_td_t_ten_giao_vien_chu_nhiem">
                            {if $ds_file_download[i] != null}
							  <span><a href="{$server}/uploads/news/files/{$ds_file_download[i]}" title="T&#7843;i v&#7873; TKB {$cs_category_dslophoc->category[i]}">T&#7843;i v&#7873;</a></span>							 
							{/if}
                            </div>
						</div>
					</div>
                    {/section}
                  		
			</div>
            </div>
        <div class="hoat_dong_ngoai_khoa">
			<div class="hdnk_tieu_de">
				<div class="hdnk_td_icon"></div>
				<div class="hdnk_td_text">
					<div class="hdnk_td_t_image"><img src="{$server}/images/thienthannho/anhkgonggiancuabe.png" /></div>
				</div>
			</div>
			<div class="hdnk_hinh_anh" id="divHinhAnhHoatDong">
                {if count($obj_news_2hinh->id)==1}
                    <div class="hdnk_ha_left_picture">
            			<div class="hdnk_picture">
            				<img src="{$server}/uploads/news/{$obj_news_2hinh->small_image[0]}" height="195px" width="275" />					</div>
            			<div class="hdnk_ha_text_chu_thich">{$obj_news_2hinh->news[0]}					</div>
            		</div>
                {/if}
                
                {if count($obj_news_2hinh->id)>1}
                    <div class="hdnk_ha_left_picture">
            			<div class="hdnk_picture">
            				<img src="{$server}/uploads/news/{$obj_news_2hinh->small_image[0]}" height="195px" width="275" />					</div>
            			<div class="hdnk_ha_text_chu_thich">{$obj_news_2hinh->news[0]}					</div>
            		</div>
            		<div class="hdnk_ha_left_picture">
            			<div class="hdnk_picture">
            				<img src="{$server}/uploads/news/{$obj_news_2hinh->small_image[1]}" height="195px" width="275" />					</div>
            			<div class="hdnk_ha_text_chu_thich">{$obj_news_2hinh->news[1]}					</div>
            		</div>       
                {/if}
                
			</div>
            
            {if count($obj_news_2hinh->id)>2}
			<div class="hdnk_next_preview" id="divLinkPageHinhAnhHoatDong">			
            	<div class="hdnk_preview">
		         <div class="preview_picture">
        				<input type="button" id="btPre" class="buttonChimCutTruoc" value="" name="btPre" onclick="fnLoadImage('{$active}',0,'2','divHinhAnhHoatDong','divLinkPageHinhAnhHoatDong','{$iCountImage}');"/>
                 </div>
        		</div>
        		<div class="hdnk_next">
        			<div class="next_picture">
                        <input type="button" id="btNext" class="buttonChimCutSau" value="" name="btNext" onclick="fnLoadImage('{$active}',2,'2','divHinhAnhHoatDong','divLinkPageHinhAnhHoatDong','{$iCountImage}');" /> 
        		    </div>
        		</div>
			</div>
            {/if}
            <div class="space"></div>
</div>