<link href="{$server}/css/client/nhap_hoc.css" rel="stylesheet" type="text/css" />
	<div class="nhap_hoc">
				<div class="tieu_de_thong_tin_tuyen_sinh">
					<div class="td_ttts_icon"></div>
					<div class="td_ttss_text"></div>
				</div>
                
				<div class="muc_tuyen_sinh">
					<div class="mts_tieu_de">
						<div class="mts_icon"></div>
						<div class="mts_text"><a href="#">Tuy&#7875;n Sinh</a></div>
					</div>
                   
					<div class="mts_noi_dung">
				
				      <div class="mts_nd_noi_dung">{$cs_client_news_s_intro->long_description[0]}</div>
					</div>
                    
				</div>
                  
				
			
</div>