<div class="ct_thong_bao">
      
			<div class="tb_tieu_de">

				<div class="tb_td_img"><img src="{$server}/images/icon/icon_canh_cut_hoc_bai.png" /></div>
				<div class="tb_td_text">				  
                           {$cs_client_news_detail->news[0]} 
				</div>
			</div>            
		
           <div class="tb_noi_dung1">
            {$cs_client_news_detail->long_description[0]}
           </div>
           
           	<div class="tb_noi_dung">
                {section name=i loop=$cs_client_news_other->id}
    			  <div class="list_nd"><span class="icon_item"></span><a href="{$server}/trang-chu/{$cs_category_tb_truong->page_title[0]}/{$cs_client_news_other->page_title[i]}"><span style="color: #fee8ee">{$cs_client_news_other->news[i]}</span></a></div>
                {/section}
			</div>
            <div class="ct_thong_bao" style="height:150px">
			
            </div>

</div>