        
<div class="ct_thong_bao">
			<div class="tb_tieu_de">
				<div class="tb_td_img"><img src="{$server}/images/icon/icon_canh_cut_hoc_bai.png" /></div>
				<div class="tb_td_text">{$cs_category_tb_truong->category[0]}</div>
			</div>

			<div class="tb_noi_dung">
            {section name=i loop=$cs_client_news_tbnt->id}
			  <p><span class="icon_item"></span><a href="{$server}/trang-chu/{$cs_category_tb_truong->page_title[0]}/{$cs_client_news_tbnt->page_title[i]}"><span style="color: #fee8ee">{$cs_client_news_tbnt->news[i]}</span></a></p>
            {/section}


			</div>
</div>
<div class="ct_thong_bao" style="height:150px">
			
</div>