<div class="ct_thong_bao">
        
    <div class="tb_tieu_de">
    	<div class="tb_td_img"><img src="{$server}/images/icon/icon_canh_cut_hoc_bai.png" /></div>
    	<div class="tb_td_text">				  
                   {$cs_client_news_gioithieu->news[0]} 
    	</div>
    </div>
    
    <div class="tb_noi_dung">
        {$cs_client_news_gioithieu->short_description[0]} <a href="{$server}/{$page_index}/{$key_intro_truong}/{$key_intro_1}"><b style="color: #fee8ee">Xem Chi Ti&#7871;t</b></a> 
    </div>           

</div>