<div class="ct_thong_bao">
      
			<div class="tb_tieu_de">

				<div class="tb_td_img"><img src="{$server}/images/icon/icon_canh_cut_hoc_bai.png" /></div>
				<div class="tb_td_text">				  
                           {$cs_client_news_gioithieu->news[0]} 
				</div>
			</div>            
		
           <div class="tb_noi_dung1">
            {$cs_client_news_gioithieu1->long_description[0]}
           </div>

</div>