        
<div class="ct_thong_bao">
			<div class="tb_tieu_de">
				<div class="tb_td_img"><img src="{$server}/images/icon/icon-1.png" /></div>
				<div class="tb_td_text">{$cs_client_news_s_intro->news[0]}</div>
			</div>

			<div class="tb_noi_dung">
			  <p>{$cs_client_news_s_intro->short_description[0]}...       <a href="{$server}/nhap-hoc/tuyen-sinh/"><b style="color: #fee8ee">Xem Chi Ti&#7871;t</b></a></p>
    
			</div>
</div>