
<link href="{$server}/css/client/video_online.css" rel="stylesheet" type="text/css" />
{literal}
<script language="javascript">
    function lay_chi_tiet()
    {
        var ten_phu_huynh = document.getElementById("ten_phu_huynh");
            
    }
</script>
{/literal}



<div class="video_online" style=" padding-bottom:100px; height:550px;	">
				<div class="tieu_de">
					<div class="vd_o_td_img"><img src="{$server}/images/video_online/icon.png" /></div>
					<div class="vd_o_td_text"><img src="{$server}/images/video_online/tieu_de.png" /></div>
				</div>
				<div class="vd_o_show_video">

						<div class="vd_o_s_list">
							<div class="v_ten_lop">
								<div class="v_tl_text">T&#234;n l&#7899;p</div>
							</div>
                            <form method="post" name="dslophoc">
                            {section name=i loop=$cs_category_dslophoc->id}
						
                            <div class="vd_o_s_danh_sach">
								<div>
									<div class="v_o_s_ds_img"></div>
									<div class="v_o_s_ds_text"><a href='{$server}/{$page_index}/{$key_video}/{$cs_category_dslophoc->page_title[i]}' >{$cs_category_dslophoc->category[i]}</a></div>
								</div>
							</div>
                          {/section}
                            </form>
						</div>
						<div class="vd_o_s_video">
							<div class="line_right"></div>
							<div class="video">                               
                             
                                <a href="{$cs_video->url[0]}" target="_blank"><img src="{$server}/images/video_online/nen_video.jpg" width="400px" height="290px"/></a>
                                                               
                               
                                                          
                                
                            
                            
                            </div>
                            <span class="the_span"><a href="{$cs_video->url[0]}" target="_blank">Xem {$cs_video->video[0]} </a></span>
						</div>

			  </div>
</div>